%tr{ id: "session_type_#{session_type.id}" }
  %td= session_type.name
  %td= truncate(session_type.description, length: 60)
  %td= session_type.duration
  %td= session_type.public? ? "\u2713" : ""
  - unless !current_user.organizer_for_event?(event)
    %td
      .pull-right
        = link_to "Edit", "#", class: "btn btn-primary btn-xs",
          data: { toggle: "modal", target: "#session-type-edit-#{session_type.id}" }
        = link_to "Remove", event_staff_session_type_path(event, session_type),
          method: :delete,
          remote: true,
          data: { confirm: "Are you sure you want to remove this session type?" },
          class: "btn btn-danger btn-xs"

      %div{ id: "session-type-edit-#{session_type.id}", class: 'modal fade' }
        .modal-dialog
          .modal-content
            .modal-header
              %h3 Edit Session Type
            = render partial: 'staff/session_types/form', locals: { session_type: session_type }