.row
  .col-md-12
    .page-header
      %h1
        Edit Your Profile

= form_for current_user, url: profile_path, html: {role: 'form'} do |f|
  .row
    %fieldset.col-md-6
      .widget
        .widget-header
          %i.fa.fa-user
          %h3 Your Profile
        .widget-content
          %p
            This information will be
            %strong hidden
            from the review committee, but will be shown on the program if your proposal is accepted.
          .form-group
            = f.label :name
            = f.text_field :name, class: 'form-control', placeholder: 'Your name'
          %p
            = f.label :bio
            = f.text_area :bio, class: 'form-control', placeholder: 'Enter your bio', rows: 7, maxlength: 500
            %p.help-block Bio is limited to 500 characters.

    %fieldset.col-md-6
      .widget
        .widget-header
          %i.fa.fa-envelope
          - if current_user.provider.present?
            %i.fa{class: "fa-#{current_user.provider.downcase}"}
          %h3 Identity Services
        .widget-content
          %p
            Email is only used for notifications on proposal feedback and acceptance into the program.
          .form-group
            = f.label :email
            = f.email_field :email, class: 'form-control', placeholder: 'Your email address', value: current_user.unconfirmed_email.present? ? current_user.unconfirmed_email : current_user.email
            - if current_user.unconfirmed_email.present?
              %p.help-block This email has not been confirmed yet.
          .form-group
            = f.label :password
            = f.password_field :password, class: 'form-control', placeholder: 'Password'
          .form-group
            = f.label :password_confirmation
            = f.password_field :password_confirmation, class: 'form-control', placeholder: 'Confirm password'

          - if current_user.provider.present?
            .service
              %button.btn.btn-default.disabled{class: "btn-#{current_user.provider.downcase}-alt"}
                %i{class: "fa fa-#{current_user.provider.downcase}"}
                | Connected via
                = current_user.provider

  .row
    .col-md-12.form-submit
      %button.pull-right.btn.btn-success.btn-lg{type: "submit"} Save
