.row
  .col-md-12
    %header.page-header
      %h1 Merge Accounts

.row
  .col-md-8
    .widget
      .widget-header
        %i.bi.bi-exclamation-triangle
        %h3 Account Merge Required
      .widget-content
        %p
          The #{Identity::PROVIDER_NAMES[@provider]} account you're trying to connect is already linked to another account.
          To connect it to your current account, we need to merge the two accounts.

        %h4 What will be merged:
        %ul
          - if @legacy_user.speakers.any?
            %li
              %strong= pluralize(@legacy_user.speakers.count, 'proposal')
          - if @legacy_user.teammates.any?
            %li
              %strong= pluralize(@legacy_user.teammates.count, 'team membership')
          - if @legacy_user.ratings.any?
            %li
              %strong= pluralize(@legacy_user.ratings.count, 'rating')
          - if @legacy_user.comments.any?
            %li
              %strong= pluralize(@legacy_user.comments.count, 'comment')
          - if @legacy_user.speakers.empty? && @legacy_user.teammates.empty? && @legacy_user.ratings.empty? && @legacy_user.comments.empty?
            %li No proposals, team memberships, or other data to merge.

        %p.text-muted
          The old account's profile information (name, email, bio) will not be transferred.

        .mt-4
          = button_to 'Merge Accounts', merge_profile_path, class: 'btn btn-primary', data: {turbo_confirm: 'Are you sure you want to merge these accounts? This cannot be undone.'}
          = link_to 'Cancel', edit_profile_path, class: 'btn btn-secondary ms-2'
