= form_for @person, url: edit_profile_organizer_event_speaker_path, html: {role: 'form'} do |f|
  .row
    %fieldset.col-md-4
      %h2 #{@person.name}'s Profile
      %p
        This information will be
        %strong hidden
        from the review committee, but will be shown on the program if the proposal is accepted.
      .form-group
        = f.label :name
        = f.text_field :name, class: 'form-control', placeholder: 'Your name'
      %p
        = f.label :bio
        = f.text_area :bio, class: 'form-control', placeholder: 'Enter your bio', rows: 7, maxlength: 500
        %p.help-block Bio is limited to 500 characters.
    %fieldset.col-md-4
      %h2 Identity Services
      %p
        Email is only used for notifications on proposal feedback and acceptance into the program.
      .form-group
        = f.label :email
        = f.email_field :email, class: 'form-control', placeholder: 'Your email address'
      - if Rails.env.development?
        .service
          - if @person.connected?('developer')
            %i.glyphicon.glyphicon-user
            | Connected via Developer
          - else
            %i.glyphicon.glyphicon-user
            | Not Connected via Developer
      .service
        - if @person.connected?('github')
          %i.icon-github
          | Connected via GitHub
        - else
          %i.icon-github
          | Not Connected to GitHub
      .service
        - if @person.connected?('twitter')
          %i.icon-twitter
          | Connected via Twitter
        - else
          %i.icon-twitter
          | Not Connected to Twitter
    %fieldset.col-md-3
      %h2 Demographics
      %p
        This information is entirely
        %strong optional
        and will be
        %strong hidden
        from the review committee.
        = render :partial => 'shared/demographics', :locals => {:f => f}

  .row.col-md-12.form-submit
    %button.pull-right.btn.btn-success{:type => "submit"} Save
