= turbo_stream.replace "schedule_day_#{@bulk.day}" do
  = render partial: 'staff/grids/grid', locals: {schedule: @schedule, day: @bulk.day}

= turbo_stream.update "bulk_preview_bar_day_#{@bulk.day}" do
  = render partial: 'preview_bar', locals: {bulk: @bulk}

= turbo_stream.append 'grid-time-slot-actions' do
  %div{data: {controller: 'grid-day-refresh', grid_day_refresh_day_value: @bulk.day, grid_day_refresh_switch_day_value: true}}

= turbo_stream.update 'bulk-time-slot-dialog', ''
