.row
  .col-sm-12.text-center
    %h2 Resend confirmation instructions

.row
  = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|

    .form-inputs
      .col-sm-5.col-centered
        .well.clearfix
          = f.error_notification
          = f.full_error :confirmation_token
          = f.input :email, required: true, autofocus: true, wrapper_html: {class: "col-sm-12"}

          .form-group.col-sm-12
            = f.button :submit, "Resend confirmation instructions", class: "btn btn-success"


          .form-group= render "devise/shared/links"
