<div class="col-sm-12">
  <%- if controller_name != 'sessions' %>
    <%= link_to "Log in", new_user_session_path %><br />
  <% end -%>

  <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
    <%= link_to "Sign up", new_registration_path(resource_name) %><br />
  <% end -%>

  <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
    <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
  <% end -%>

  <%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
    <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
  <% end -%>

  <%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
    <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
  <% end -%>

  <hr />

  <%- if devise_mapping.omniauthable? %>

    <% if twitter_oauth? %>
      <%= link_to user_twitter_omniauth_authorize_path, class: "btn btn-twitter" do %>
        <i class="icon-twitter"></i>
        <span class="btn-text-middle">Sign in with Twitter</span>
      <% end %>
    <% end %>
    <% if github_oauth? %>
      <%= link_to user_github_omniauth_authorize_path, class: "btn btn-github" do %>
        <i class="icon-github"></i>
        <span class="btn-text-middle">Sign in with GitHub</span>
      <% end %>
    <% end %>
      <% if google_oauth? %>    
      <%= link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-default" do %>
        <i class="icon-google"></i>
        <span class="btn-text-middle">Sign in with Google</span>
      <% end %>
    <% end %>
  <% end %>
</div>
