.form-group
  = f.label :conference_day
  = f.select :conference_day, event.days_for,  class: 'form-control', placeholder: ''
.form-group
  = f.label :start_time
  = f.text_field :start_time, class: 'form-control', value: session.start_time
.form-group
  = f.label :end_time
  = f.text_field :end_time, class: 'form-control', value: session.end_time
.form-group
  = f.label :room_id
  = f.select :room_id, room_options(session), { include_blank: true }, class: 'form-control', placeholder: ''
.form-group
  = f.label :track_id
  = f.select :track_id, track_options(session), { include_blank: true }, class: 'form-control', placeholder: ''
.form-group
  = f.label :proposal_id
  = f.select :proposal_id, session.available_proposals,
      { include_blank: true },
      class: 'form-control available-proposals', placeholder: ''
  %p#confirmation-notes.help-block
    = session.proposal_confirm_notes

%fieldset#session-description
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control', placeholder: ''
  .form-group
    = f.label :presenter
    = f.text_field :presenter, class: 'form-control', placeholder: ''
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control', placeholder: ''
