#proposal
  .row
    .col-md-12
      .page-header.clearfix
        %h1= "#{event} Sessions"

  .row
    .col-md-12
      #content
        %ul#tabs.nav.nav-tabs{"data-tabs" => "tabs"}
          %li.active
            %a{"data-toggle" => "tab", href: "#session", id: 'sessions-tab'} Sessions
          %li
            %a{"data-toggle" => "tab", href: "#rooms"} Rooms
          %li
            %a{"data-toggle" => "tab", href: "#addschedule"} Schedule

        .tab-content
          #session.tab-pane.active
            .row
              .col-md-12
                = render partial: 'sessions'
          #rooms.tab-pane
            .row
              .col-md-12
                = render partial: 'rooms'
          #addschedule.tab-pane
            .row
              .col-md-12
                = render partial: 'schedule'
        #session-edit-dialog.modal.fade

        #session-new-dialog.modal.fade
