#speaker
  .row
    .col-md-12
      .page-header.clearfix
        .btn-nav.pull-right
          =  link_to("« Return to Speaker List", event_staff_speakers_path, class: "btn btn-primary", id: "back")

        %h1 Speaker Profile

  .row
    .col-md-12
      %p
        = image_tag("https://www.gravatar.com/avatar/#{speaker.gravatar_hash}?s=150",
          id: 'speaker_gravatar')
        %br
        %b Name:
        %br
        = speaker.name
      %p
        %b Email:
        %br
        = mail_to(speaker.email)
      %p
        %b Bio:
        %br
        = speaker.bio
