.event
  .row
    %header
      .col-sm-3
        %h2= event
      .col-sm-5.col-sm-offset-4
        #event-actions-top.pull-right
          %p= link_to "Proposals", reviewer_event_proposals_path(event), class: "btn btn-default"

  .row
    .col-sm-4
      %h4 Event Details
      %dl.dl-horizontal
        %dt Url:
        %dd
          %a{ href: event.url }#{event.url}
        %dt Slug:
        %dd #{event.slug}
        %dt Email:
        %dd #{event.contact_email}
        %dt Guidelines:
        %dd
          -if event.guidelines.present?
            = event.guidelines.truncate(150, separator: /\s/)
          = link_to "Public guidelines", event_path(slug: event.slug)

      %dl.dl-horizontal
        %dt CFP Opens:
        %dd= event.cfp_opens

        %dt CFP Closes:
        %dd= event.cfp_closes

        .subset
          %dt Days Remaining:
          %dd #{event.cfp_days_remaining}

        %dt Event Start:
        %dd #{event.start_date.to_s(:month_day_year) unless event.start_date.blank?}

        %dt Event End:
        %dd #{event.end_date.to_s(:month_day_year) unless event.end_date.blank?}


    .col-sm-4
      %h4 Proposal Stats
      %dl.dl-horizontal
        %dt Total:
        %dd #{event.proposals.count}
        .subset
          %dt Reviewed:
          %dd #{event.proposals.rated.count} (#{event.reviewed_percent})
      %h4 Proposal Tags
      %dd=event.valid_proposal_tags
      %dl.dl-horizontal

      %h4 Review Tags
      %dd=event.valid_review_tags
      %dl.dl-horizontal


    .col-sm-4
      %h4 Tracks
      -if event.track_count.present?
        - event.track_count.sort_by{|k,v| v}.reverse.each_slice(8).to_a.each do |row|
          %ul#columns.list-inline
            -row.each do |name, count|
              %li
                .label.label-success
                  = name
                  = count
      -else
        %p No Tracks

    .col-sm-4


.row
  .col-md-11
    %h3 Reviewer Information
    %table.participants.table.table-striped
      %thead
        %tr
          %th Name
          %th Email
          %th Rated Proposals
          %th Role
          %th.notifications Comment Notifications
      %tbody
        %tr

          %td= current_user.name
          %td= current_user.email
          %td= rating_counts[current_user.id] || 0
          %td= participant.role
          %td.notifications
            = participant.comment_notifications
            = render partial: 'reviewer/events/participant_notifications', locals: {participant: participant}

