%li.notifications-link.dropdown
  - unread_notifications = current_user.notifications.recent_unread.records
  %a.dropdown-toggle{title: "Notifications Toggle", href: "#", data: { toggle: "dropdown" } }
    %i.fa.fa-envelope
    %span.badge= unread_notifications.length if unread_notifications.any?

  %ul.dropdown-menu.notifications-dropdown
    - if unread_notifications.any?
      %li
        - unread_notifications.each do |notification|
          = link_to notification_path(notification) do
            %i.fa.fa-exclamation
            %span=notification.short_message
      %li.divider{role: "separator"}
      %li
        =link_to mark_all_as_read_notifications_path, method: :post, class: "text-primary" do
          %i.fa.fa-check
          Mark all as read
    %li
      = link_to notifications_path do
        %i.fa.fa-eye
        %span
          =  current_user.notifications.more_unread? ? "#{current_user.notifications.more_unread_count} More Unread" : "View all notifications"
