.form-inline
  = f.input :conference_day, collection: event.days_for, label: 'Day'
  = f.input :room_id, collection: current_event.rooms, include_blank: true
.form-inline
  = f.input :start_time, as: :string, input_html: { value: time_slot.start_time }
  = f.input :end_time, as: :string, input_html: { value: time_slot.end_time }
-#= f.input :track_id, collection: current_event.tracks, include_blank: true
= f.input :program_session_id, collection: time_slot.unscheduled_program_sessions, include_blank: true,
  input_html: { class: 'available-proposals' }
.selected-session-info
  .session-meta-item
    %strong Presenter:
    %p.speaker= time_slot.display_presenter
  .session-meta-item
    %strong Abstract:
    %p.abstract= time_slot.display_description
  .session-meta-item
    %strong Confirmation Notes:
    %p.confirmation-notes= time_slot.session_confirmation_notes

%fieldset.supplemental-fields{class: time_slot.supplemental_fields_visibility_css }
  = f.input :title, as: :string
  = f.input :presenter, as: :string
  = f.input :description, as: :text
