%tr{ id: "time_slot_#{time_slot.id}" }
  %td= time_slot.conference_day

  %td{ data: {order: time_slot.object.start_time} }
    = time_slot.start_time

  %td{ data: {order: time_slot.object.end_time} }
    = time_slot.end_time

  %td= time_slot.linked_title

  %td= time_slot.display_presenter

  %td= time_slot.room_name

  %td= time_slot.display_sponsor_star

  %td= time_slot.display_track_name

  %td.actions
    = link_to 'Edit', edit_event_staff_schedule_time_slot_path(time_slot.event, time_slot), class: 'btn btn-primary btn-sm', data: {turbo: true, turbo_frame: 'time-slot-edit-dialog'}

    = link_to 'Remove', event_staff_schedule_time_slot_path(time_slot.event, time_slot), data: {turbo: true, turbo_method: :delete, turbo_confirm: 'Are you sure you want to remove this time slot?'}, class: 'btn btn-danger btn-sm'
