.row
  .col-md-6
    %fieldset
      %h2 Event Information
      = f.input :name, placeholder: 'Name of the event', autofocus: true
      = f.input :slug, placeholder: 'Slug for the event URL, may be left blank once event name is filled out',
        hint: "The slug will be used in public facing URLs. If you leave this field blank, a slug will be generated based on the name."
      = f.input :url, label: "URL", placeholder: 'Event\'s URL'
      = f.input :contact_email, class: 'form-control', placeholder: 'Event email'

  .col-md-3
    %fieldset
      %h2 CFP Dates
      = f.label :opens_at
      = f.datetime_local_field :opens_at, class: 'form-control'
      %p.help-block Optional. You can manually open the CFP when ready.
      = f.label :closes_at
      = f.datetime_local_field :closes_at, class: 'form-control'
      %p.help-block When the CFP will stop taking submissions. Must be set before opening the CFP.

      %h2 Event Dates
      = f.label :start_date
      = f.date_field :start_date, class: 'form-control'
      %p.help-block First day of your event
      = f.label :end_date
      = f.date_field :end_date, class: 'form-control'
      %p.help-block Last day of your event

.row.col-md-12.form-submit
  - if event && event.persisted? && current_user.admin?
    = link_to 'Delete Event', admin_event_path(event), data: {turbo: true, turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete this event?'}, class: 'btn btn-danger float-start'

  =submit_tag("Save", class: "float-end btn btn-success", type: "submit")
  = link_to "Cancel", :back, {:class=>"cancel-form float-end btn btn-danger"}
