= link_to 'Change', '#', class: 'btn btn-primary btn-xs', data: { toggle: 'modal', target: "#event-teammate-change-role-#{teammate.id}" }
%div{ id: "event-teammate-change-role-#{teammate.id}", class: 'modal fade' }
  .modal-dialog
    .modal-content
      = form_for teammate, url: event_staff_teammates_path(teammate.event, teammate), remote: true, html: { class: 'form-inline', role: 'form' } do |f|
        .modal-header
          %h2 Change Comment Notifications
        .modal-body
          .form-group
            = f.check_box :notifications, class: "checkbox"
            = f.label :notifications, label: "Check to Receive Comment Notification Emails"
        .modal-footer
          %button.btn.btn-default{'data-dismiss' => "modal"} Cancel
          %button.pull-right.btn.btn-success{type: "submit"} Save
