= link_to 'Change Role', '#', class: 'btn btn-primary btn-xs', data: { toggle: 'modal', target: "#teammate-change-role-#{teammate.id}" }
= link_to 'Remove', event_staff_team_index_path(teammate.event, teammate), method: :delete, data: { confirm: "Are you sure you want to remove #{teammate.user.name}?" }, class: 'btn btn-danger btn-xs'
%div{ id: "teammate-change-role-#{teammate.id}", class: 'modal fade' }
  .modal-dialog
    .modal-content
      = form_for teammate, url: event_staff_team_index_path(teammate.event, teammate), html: { role: 'form' } do |f|
        .modal-header
          %h3 Change #{teammate.user.name}'s role
        .modal-body
          = f.label :role
          = f.select :role, User::STAFF_ROLES, class: 'form-control'
        .modal-footer
          %button.btn.btn-default{'data-dismiss' => "modal"} Cancel
          %button.pull-right.btn.btn-primary{:type => "submit"} Save
