.event
  .row
    .col-md-12
      .page-header.clearfix
        %h1 Event Configuration
  .row
    .col-md-12
      .widget.widget-table
        .widget-header
          %i.fa.fa-comments-o
          %h3 Session Formats
          = link_to "Add Session Format", new_event_staff_session_format_path(event), remote: true,
            class: "btn btn-success btn-sm pull-right" unless !current_user.organizer_for_event?(event)
        .widget-content
          %table.table.table-striped.table-bordered#session-formats
            %thead
              %tr
                %th Name
                %th Description
                %th Duration
                %th Public
                - unless !current_user.organizer_for_event?(event)
                  %th= "Actions"
            %tbody
              = render event.session_formats

      .widget.widget-table
        .widget-header
          %i.fa.fa-exchange
          %h3 Tracks
          = link_to "Add Track", new_event_staff_track_path(event), remote: true,
            class: "btn btn-success btn-sm pull-right" unless !current_user.organizer_for_event?(event)
        .widget-content
          %table.table.table-striped.table-bordered#tracks
            %thead
              %tr
                %th Name
                %th Description
                %th Guidelines
                - unless !current_user.organizer_for_event?(event)
                  %th Actions
            %tbody
              = render event.tracks.sort_by_name

    #config-modal.modal.fade
      .modal-dialog
        .modal-content
  .row
    .col-md-4
      .widget
        .widget-header
          %i.fa.fa-tags
          %h3 Proposal Tags
        .widget-content
          #proposal-tags
            = render partial: "staff/events/proposal_tags"

    .col-md-4
      .widget
        .widget-header
          %i.fa.fa-tags
          %h3 Reviewer Tags
        .widget-content
          #reviewer-tags
            = render partial: "staff/events/reviewer_tags"

    .col-md-4
      .widget
        .widget-header
          %i.fa.fa-list-alt
          %h3 Custom Fields
        .widget-content
          #custom-fields
            = render partial: "staff/events/custom_fields"
