.event
  .row
    .col-md-12
      .page-header.clearfix
        %h1 Event Configuration
  .row
    .col-md-12
      .widget.widget-table
        .widget-header
          %i.fa.fa-comments-o
          %h3 Session Types
          = link_to "Add Session Type", "#", class: "btn btn-success btn-sm pull-right",
            data: { toggle: "modal", target: "#session-type-new-dialog" } unless !current_user.organizer_for_event?(event)
        .widget-content
          %table.table.table-striped.table-bordered#session-types
            %thead
              %tr
                %th Name
                %th Description
                %th Duration
                %th Public
                - unless !current_user.organizer_for_event?(event)
                  %th= "Actions"
            %tbody
              = render event.session_types
      #session-type-new-dialog.modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              %h3 New Session Type
              = render partial: 'staff/session_types/form', locals: { session_type: SessionType.new }

      .widget.widget-table
        .widget-header
          %i.fa.fa-exchange
          %h3 Tracks
          = link_to "Add Track", "#", class: "btn btn-success btn-sm pull-right",
            data: { toggle: "modal", target: "#track-new-dialog" } unless !current_user.organizer_for_event?(event)
        .widget-content
          %table.table.table-striped.table-bordered#tracks
            %thead
              %tr
                %th Name
                %th Description
                %th Guidelines
                - unless !current_user.organizer_for_event?(event)
                  %th Actions
            %tbody
              = render event.tracks
      #track-new-dialog.modal.fade
        .modal-dialog
          .modal-content
            .modal-header
              %h3 New Track
              = render partial: 'staff/tracks/form', locals: { track: Track.new }
  .row
    .col-md-4
      .widget
        .widget-header
          %i.fa.fa-tags
          %h3 Proposal Tags
        .widget-content
          #proposal-tags
            = render partial: "staff/events/proposal_tags"

    .col-md-4
      .widget
        .widget-header
          %i.fa.fa-tags
          %h3 Reviewer Tags
        .widget-content
          #reviewer-tags
            = render partial: "staff/events/reviewer_tags"

    .col-md-4
      .widget
        .widget-header
          %i.fa.fa-list-alt
          %h3 Custom Fields
        .widget-content
          #custom-fields
            = render partial: "staff/events/custom_fields"