.event
  .row
    .col-md-12
      .page-header.info-bar
        %h4.pull-right
          %strong CFP Status:
          = event.state
          %br
          - if event.closes_at?
            Closes at
            %strong= event.closes_at(:long_with_zone)
        %h1
          - if event.url?
            = link_to event.name, "#{event.url}", target: 'blank', class: 'event-title'
          - else
            = event.name
        %h4
          - if event.start_date? && event.end_date?
            = event.date_range
  .row
    .col-sm-4
      .widget.widget-table
        .widget-header
          %i.fa.fa-calendar
          %h3 Details
        .widget-content
          %table.table.table-striped.table-bordered
            %tbody
              %tr
                %td.text-primary
                  %strong Url:
                %td
                  %a{ href: event.url } #{event.url}
              %tr
                %td.text-primary
                  %strong Email:
                %td #{event.contact_email}
              %tr
                %td.text-primary
                  %strong CFP Opens:
                %td= event.cfp_opens
              %tr
                %td.text-primary
                  %strong CFP Closes:
                %td= event.cfp_closes
              %tr
                %td.text-primary
                  %strong Event Staff:
                %td= teammates.count

    .col-sm-4
      .widget
        .widget-header
          %i.fa.fa-list-alt
          %h3 CFP Statistics
        .widget-content
          %ul.list-group
            %li.list-group-item
              %strong.text-primary Total:
              %span.label.label-info #{event.proposals.count}
            %li.list-group-item
              %strong.text-primary Total Proposals Reviewed:
              %span.label.label-info #{event.proposals.rated.count} (#{event.reviewed_percent})
            %li.list-group-item
              %strong.text-primary Reviewed Proposals Accepted:
              %span.label.label-info #{event.proposals.accepted.count}
            %li.list-group-item
              %strong.text-primary Waitlisted Proposals:
              %span.label.label-info #{event.proposals.waitlisted.count}
            %li.list-group-item
              %strong.text-primary Program Sessions Scheduled:
              %span.label.label-info #{event.scheduled_count} (#{event.scheduled_percent})

    .col-sm-4
      .widget.widget-table.checklist
        .widget-header
          %i.fa.fa-check-square-o
          %h3 Checklist
        .widget-content
          %table.table.table-striped.table-bordered
            %tbody
              %tr
                %td.text-primary
                  %strong Event Url:
                - if event.url.present?
                  %td.set= link_to "Set", event_staff_edit_path
                - else
                  %td.missing= link_to "Missing", event_staff_edit_path
              %tr
                %td.text-primary
                  %strong Event Dates:
                - if event.start_date.present? && event.end_date.present?
                  %td.set= link_to "Set", event_staff_edit_path
                - else
                  %td.missing= link_to "Missing", event_staff_edit_path
              %tr
                %td.text-primary
                  %strong Contact Email:
                - if event.contact_email.present?
                  %td.set= link_to "Set", event_staff_edit_path
                - else
                  %td.missing= link_to "Missing", event_staff_edit_path
              %tr
                %td.text-primary
                  %strong CFP Closes Date:
                - if event.closes_at.present?
                  %td.set= link_to "Set", event_staff_edit_path
                - else
                  %td.missing= link_to "Missing", event_staff_edit_path
              %tr
                %td.text-primary
                  %strong Session Formats:
                - if event.session_formats.present?
                  %td.set= link_to event.session_formats.count, '#'
                - else
                  %td.missing= link_to "None", '#'
              %tr
                %td.text-primary
                  %strong Tracks:
                - if event.tracks.present?
                  %td.set= link_to event.tracks.count, '#'
                - else
                  %td.optional= link_to "None (optional)", '#'
              %tr
                %td.text-primary
                  %strong Guidelines:
                - if event.guidelines.present?
                  %td.set= link_to "Set", event_staff_guidelines_path
                - else
                  %td.missing= link_to "Missing", event_staff_guidelines_path
