.form-group
  = f.label :name
  = f.text_field :name, class: 'form-control', placeholder: 'Name'
  .form-group
    = f.label :description
    = f.text_area :description, class: 'form-control', placeholder: 'Description', rows: 6
  %p.help-block Brief description (fewer than 250 characters)
  .form-group
    = f.label :guidelines
    = f.text_area :guidelines, class: 'form-control', placeholder: 'Guidelines', rows: 12
  %p.help-block A more detailed description of the track that will appear in the Event Guidelines.
