= link_to 'Change Role', '#', class: 'btn btn-primary btn-xs', data: { toggle: 'modal', target: "#participant-change-role-#{participant.id}" }
= link_to 'Remove', organizer_event_participant_path(participant.event, participant), method: :delete, data: { confirm: "Are you sure you want to remove this participant?" }, class: 'btn btn-danger btn-xs'
%div{ id: "participant-change-role-#{participant.id}", class: 'modal fade' }
  .modal-dialog
    .modal-content
      = form_for participant, url: organizer_event_participant_path(participant.event, participant), html: { role: 'form' } do |f|
        .modal-header
          %h3 Change participant role
        .modal-body
          = f.label :role
          = f.select :role, ['reviewer', 'organizer'], class: 'form-control'
        .modal-footer
          %button.btn.btn-default{'data-dismiss' => "modal"} Cancel
          %button.pull-right.btn.btn-primary{:type => "submit"} Save
