.row
  %header
    .col-md-3
      %h3 Participants
      = link_to 'view speakers', organizer_event_speakers_path(event)
    .col-sm-1.col-sm-offset-6
      = link_to 'Add/Invite New Participant', '#', class: 'btn btn-primary', data: { toggle: 'modal', target: "#new-participant-event-#{event.id}" }
      = link_to 'Manage Participant Invitations',
        organizer_event_participant_invitations_path(event), class: 'btn btn-primary'
.row
  .col-md-11
    %table.participants.table.table-striped
      %thead
        %tr
          %th Name
          %th Email
          %th Rated Proposals
          %th Role
          %th.notifications Comment Notifications
          %th.actions Actions
      %tbody
        - participants.each do |participant|
          %tr
            %td= participant.person.name
            %td= participant.person.email
            %td= rating_counts[participant.person.id] || 0
            %td= participant.role
            %td.notifications
              = participant.comment_notifications
              - if participant.person == current_user
                = render partial: 'organizer/events/participant_notifications', locals: {participant: participant}
            %td.actions
              - unless participant.person == current_user
                = render partial: 'organizer/events/participant_controls', locals: { participant: participant }
%div{ id: "new-participant-event-#{event.id}", class: 'modal fade' }
  .modal-dialog
    .modal-content
      = form_for event.participants.build, url: organizer_event_participants_path(event), html: {role: 'form'} do |f|
        .modal-header
          %h3 Add/Invite a participant to #{event.name}
        .modal-body
          .form-group
            = label_tag :email
            = text_field_tag :email, '', class: 'form-control',
              id: 'autocomplete-email',
              placeholder: "Participant's email",
              data: { path: emails_organizer_event_participants_path(event) }
          .form-group
            = f.label :role
            = f.select :role, ['reviewer', 'organizer'], class: 'form-control'
        .modal-footer
          %button.btn.btn-default{'data-dismiss' => "modal"} Cancel
          %button.pull-right.btn.btn-success{:type => "submit"} Save

