- unless @event.accept.blank?
  = Organizer::ProposalMailerTemplate.new(@event.accept, @event, @proposal).render
- else
  %p
    Congratulations! We'd love to include your talk, #{@proposal.title}, at #{@event.name}.

  %p
    TO CONFIRM that you're still willing and able to present this talk, please visit the #{@proposal.confirm_link}.

  %p
    TO DECLINE (if you're no longer able to give this talk), please visit the #{@proposal.confirm_link}, and click the 'Withdraw Proposal' button.

  %p
    In the meantime, let us know if you have any questions. We're looking forward to seeing you there!

  %p
    The #{@event.name} Program Committee
