.session
  %div
    %a.session-anchor{ name: "session-#{session.id}" }
    -if session.track
      %span.track-name
        = session.track_name
    %h3.session-title
      = link_to session.title, "#session-#{ session.id }"

  .session_abstract
    = session.abstract.html_safe
  .session-author-details
    -session.speakers.each do |speaker|
      %h4.session-author
        = speaker.speaker_name
      .session-bio
        = speaker.bio.html_safe
