%div
  %h3
    Program
  %p
    The largest official gathering of the year, RailsConf brings together top talent, companies, and project representatives from around the world. Learn and build with the best in sessions, workshops, keynotes and parties.
  %ul.program_nav
    %li.program-keynotes
      Keynotes
      %small
        5
    %li.program_sessions
      %a{:href=>'#'}
        Talks
        %small
          = @program_sessions.count
    %li.program-workshops
      %a{:href=>'#'}
        Workshops  Talks
        %small
          = current_event.number_of_workshops

#sessions
  %nav#tracks-nav
    %strong
      Tracks
    %ul
      - current_event.tracks.each do |track|
        %li
          %a.track{ href: "#track-#{ track.name.dasherize }" }
            = track.name
      %li.back-to-top
        %a{ href: "#sessions" }
          &uparrow; Back To Top
  %h2
    Talks
  - @program_sessions.each do |session|
    %div
      = render partial: 'session', locals: { session: session }
