.program-page-wrapper{ data: { 'controller': 'sub-nav', 'sub-nav-displayed-id-value': "#{current_website.default_session_slug}" } }
  %h3.page-title
    Program
  .program-filter-pane
    = image_tag 'themes/default/open-filter.png', class: 'open-filter-icon'
    = image_tag 'themes/default/closed-filter.png', class: 'close-filter-icon hidden '
  %nav.sub-nav
    %ul
      - current_website.displayed_session_formats.in_order.each do |session_format_config|
        %li
          %a{ href: "#", data: { action: 'click->sub-nav#updateDisplay', displayedId: "#{session_format_config.slug}"} }
            = "#{session_format_config.name} (#{@program_sessions.in_session_format(session_format_config.session_format).count})"

  - current_website.displayed_session_formats.each do |session_format_config|
    .program-sessions-wrapper{ id: "#{session_format_config.slug}", data: { 'sub-nav-target': 'hideable' } }
      - @program_sessions.in_session_format(session_format_config.session_format).each do |program_session|
        = render program_session
