%div{ data: { 'controller': 'sub-nav', 'sub-nav-displayed-id-value': 'sessions' } }
  %h3.page-title
    Program
<<<<<<< HEAD
  %p
    The largest official gathering of the year, #{current_website.name} brings together top talent, companies, and project representatives from around the world. Learn and build with the best in sessions, workshops, keynotes and parties.
  %ul.program_nav
    %li.program-keynotes
      Keynotes
      %small
        5
    %li.program_sessions
      %a{ href: "#", displayedId: 'sessions', data: { action: 'click->sub-nav#updateDisplay' } }
        = "Talks #{@program_sessions.regular_sessions.count}"
    %li.program-workshops
      %a{ href: "#", displayedId: 'workshops', data: { action: 'click->sub-nav#updateDisplay' } }
        = "Workshops #{@program_sessions.workshops.count}"
=======
  %nav.sub-nav
    %ul
      %li
        %a{ href: "#"}
          = "Keynotes (00)"
      %li
        %a.selected{ href: "#", 'data-displayedId': 'sessions', data: { action: 'click->sub-nav#updateDisplay' } }
          = "Talks (#{@program_sessions.regular_sessions.count})"
      %li
        %a{ href: "#", 'data-displayedId': 'workshops', data: { action: 'click->sub-nav#updateDisplay' } }
          = "Workshops (#{@program_sessions.workshops.count})"
>>>>>>> f6f33b6 (Redesign website program page)

  #sessions{ data: { 'sub-nav-target': 'hideable' } }
    - @program_sessions.regular_sessions.each do |program_session|
      = render program_session
  #workshops{ data: { 'sub-nav-target': 'hideable' } }
    - @program_sessions.workshops.each do |program_session|
      = render program_session
