.program-page-wrapper{ data: { 'controller': 'sub-nav', 'sub-nav-displayed-id-value': 'sessions' } }
  %h3.page-title
    Program
  .program-filter-pane
    = image_tag 'themes/default/open-filter.png', class: 'open-filter-icon'
    = image_tag 'themes/default/closed-filter.png', class: 'close-filter-icon hidden '
  %nav.sub-nav
    %ul
      %li
        %a{ href: "#"}
          = "Keynotes (00)"
      %li
        %a.selected{ href: "#", 'data-displayedId': 'sessions', data: { action: 'click->sub-nav#updateDisplay' } }
          = "Talks (#{@program_sessions.regular_sessions.count})"
      %li
        %a{ href: "#", 'data-displayedId': 'workshops', data: { action: 'click->sub-nav#updateDisplay' } }
          = "Workshops (#{@program_sessions.workshops.count})"

  #sessions{ data: { 'sub-nav-target': 'hideable' } }
    - @program_sessions.regular_sessions.each do |program_session|
      = render program_session
  #workshops{ data: { 'sub-nav-target': 'hideable' } }
    - @program_sessions.workshops.each do |program_session|
      = render program_session
