-#= modal('add session', 'SESSION') do
-#  = render 'organizer/sessions/new_dialog', session: Session.new


%h1= event.conference_day_in_words(1)
%table.schedule
  %thead
    %tr
      %th (Time Slots)
      - @rooms.each do |room|
        %th
          = room.name

  %tbody
    - Session.time_slots(1, @event).each do |time_slot|
      %tr
        %td.schedule-time-slot
          %p
            = row_time(time_slot)

        - if time_slot.conference_wide?
          %td.proposal-slot{ colspan: @rooms.count}
            %p
              - session = time_slot.conference_wide_session.decorate
              = session.conference_wide_title

        - else
          - time_slot.sessions.by_room.each do |session|
            - session = session.decorate
            - unless session.nil?
              - takes_two = session.takes_two_time_slots?
              %td{rowspan: (2 if takes_two)}
                .session-content
                  %p.session-title
                    = session.title
                  %p.speaker-name
                    = session.presenter
-#= render "shared/schedule/schedule_chart"

