%h1= event.conference_day_in_words(day)
%table.schedule
  %thead
    %tr
      %th (Time Slots)
      - @rooms.each do |room|
        %th
          = room.name

  %tbody
    - conference_day = ConferenceDay.new(day, @event)
    - conference_day.time_slots.each do |time_slot|
      %tr
        %td
          %p
            = row_time(time_slot)
        - if time_slot.conference_wide?
          - session = time_slot.conference_wide_session.decorate
          %td.proposal-slot.session-slot{ colspan: @rooms.count, data: session.cell_data_attr}
            %p
              = session.conference_wide_title
        - else
          - time_slot.sessions.each_with_index do |session, i|
            - if conference_day.session_empty?(session, i, time_slot)
              %td
            - elsif session.present?
              - session = session.decorate
              - takes_two = session.takes_two_time_slots?
              %td.session-slot{rowspan: (2 if takes_two), data: session.cell_data_attr}
                .session-content
                  %p.session-title
                    = session.title
                  %p.speaker-name
                    = session.presenter




