
%h1 Tuesday, April 21 - Day 1
%table.schedule
  %thead
    %tr
      %th (Time Slots)
      - @rooms.each do |room|
        %th
          = room.name

  %tbody
    - Session.time_slots(1).each do |time_slot|
      %tr
        %td.schedule-time-slot
          %p
            = row_time(time_slot)

        - if time_slot.conference_wide?
          %td{ colspan: @rooms.count}
            %p
              = time_slot.sessions.first.title + ":"
              = time_slot.sessions.first.room.try(:name)

        - else
          - time_slot.sessions.each do |session|
            - unless session.nil?
              - takes_two = session.takes_two_time_slots?
              %td{class: ("schedule-two-row-block" if takes_two), rowspan: (2 if takes_two)}
                .session-content
                  %p.session-title
                    = session.title
                  %p.speaker-name
                    = session.presenter
-#= render "shared/schedule/schedule_chart"

