.row
  .col-sm-12.text-center
    %h2 Change your password

.row
  = simple_form_for(:user, url: password_path(params[:token]), html: {method: :put}) do |f|

    .form-inputs
      .col-sm-5.col-centered
        .card
          .card-body
            = f.error_notification
            = f.input :password, label: "New password", required: true, autofocus: true, wrapper_html: {class: "col-sm-12"}, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
            = f.input :password_confirmation, label: "Confirm your new password", required: true, wrapper_html: {class: "col-sm-12"}

            .form-group.col-sm-12
              = f.button :submit, "Change my password", class: "btn btn-success"
