#rating-form
  - if allow_rating?(proposal)
    = simple_form_for [event, :staff, proposal, rating], remote: true do |f|
      = program_tracker
      = f.input :score, label: 'Rating', collection: (1..5), include_blank: true,
        input_html: { style: 'width: 60px', onchange: '$(this).trigger("submit.rails");'},
        disabled: proposal.withdrawn?, popover_icon: { content: rating_tooltip }

  - if show_ratings?(rating)
    %dl.dl-horizontal.ratings_list.margin-top
      - proposal.ratings.each do |rating|
        %dt= "#{rating.user.name}:"
        %dd= rating.score
      %dt.avg-rating.text-success
        %strong Average rating:
      %dd.avg-rating.text-success
        %strong= number_with_precision(proposal.average_rating, precision: 1)
