- disabled = disable_rating_form?(proposal)
#rating-form{data: {controller: 'rating'}}
  - if show_rating_form?(proposal, rating)
    .col-lg-5
      = simple_form_for [event, :staff, proposal, rating], data: {rating_target: 'form', turbo_frame: dom_id(proposal, :rating_widget), remote: false} do |f|
        = program_tracker
        - unless disabled
          %span.me-2{role: 'button', id: 'rating-tooltip-toggle', data: {bs_toggle: 'popover', bs_placement: 'left', bs_content: rating_tooltip, bs_html: 'true'}}
            %i.bi.bi-question-circle
        = f.label :score, "Rating"
        .rating-form-wrapper
          %ul.star-rating
            - (1..5).each do |score|
              %li.star-wrapper{class: disabled ? "ratings-closed" : nil, data: {action: 'mouseenter->rating#preview mouseleave->rating#showRating'}}
                %span.star
                  %i.bi.bi-star
                  %i.bi.bi-star-fill
                = f.check_box :score, {class: 'star-rating-select', disabled: disabled}, score, nil
            - if show_ratings_toggle?(proposal, rating)
              %li.abstain-wrapper
                = link_to "#", class: 'abstain', data: {action: 'click->rating#toggleCommentsAndRatings'} do
                  %i.bi.bi-chat-dots
                  %i.bi.bi-chat-dots-fill.hidden
            - if show_destroy_rating?(proposal, rating)
              %li.trash-wrapper{data: {action: 'mouseenter->rating#previewDelete mouseleave->rating#cancelPreviewDelete'}}
                %span.trash
                  %i.bi.bi-trash
                = f.check_box :score, { class: "star-rating-select delete" }, "", nil
  #show-ratings{ class: !show_ratings?(proposal, rating) ? "hidden" : nil }
    .col-lg-7
      - if proposal.ratings.any?
        %dl.dl-horizontal.ratings_list
          %dt.avg-rating.text-success
            %strong Average rating:
          %dd.avg-rating.text-success
            %strong= number_with_precision(proposal.average_rating, precision: 1)
          - proposal.ratings.each do |rating|
            %dt= "#{rating.user.name}:"
            %dd= rating.score
      - else
        %label No Ratings
