%tr{id: dom_id(track)}
  %td= track.name
  %td= truncate(track.description, length: 60)
  %td
    -if track.guidelines.present?
      = link_to "#", data: { bs_toggle: "modal", bs_target: "#track-guidelines-#{track.id}" } do
        %span.bi.bi-card-list

      %div{ id: "track-guidelines-#{track.id}", class: 'modal fade' }
        .modal-dialog
          .modal-content
            .modal-header
              %h3= "#{track.name} Guidelines"
            .modal-body
              = track.guidelines

  - unless !current_user.organizer_for_event?(event)
    %td
      .float-end
        = link_to "Edit", edit_event_staff_track_path(event, track), data: {action: 'remote-modal#open'},
          class: "btn btn-primary btn-sm"
        = link_to "Remove", event_staff_track_path(event, track),
          data: {turbo: true, turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this track?"},
          class: "btn btn-danger btn-sm"
