Hello!
%p #{@comment.person.name} has left a comment on the proposal '#{@comment.proposal.title}' for #{@comment.proposal.event.name}:

%blockquote
  = simple_format(@comment.body)

%p= link_to 'View the proposal', '#'