!!!5
%html(lang="en")
  %head
    %title= title
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")

    = stylesheet_link_tag 'default', media: 'all'

  %body.body
    %header#header
      #nav.full-nav
        = link_to landing_path(current_event), id: "logo-area" do
          %h1
            = current_website.event.name
          %small
            = current_website.event.decorate.date_range
        %nav#main-nav
          %div#center-nav
            - current_website.pages.published.each do |page|
              = link_to page.name, page_path(current_event, page)
    %main.main
      =yield
