!!!5
%html(lang="en")
  %head
    %title= title
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %link{rel: "stylesheet", href: "https://fonts.googleapis.com/css?family=#{current_website.sans_serif_font}"}
    = stylesheet_link_tag current_website.theme, media: 'all'
    :css
      :root {
        --body_background_color:#{ current_website.body_background_color }!important;
        --nav_background_color:#{ current_website.nav_background_color }!important;
        --nav_text_color:#{ current_website.nav_text_color }!important;
        --nav_link_hover:#{ current_website.nav_link_hover }!important;
        --main_content_background:#{ current_website.main_content_background }!important;
        --sans-serif-font: "#{ current_website.sans_serif_font }" !important;
      }

  %body
    %main#main-default
      %header#main-header
        %div#header-logo-container
          %a#menu-toggle{ href: "#"}
          = link_to(landing_path(current_event), id: "header-logo-area") do
            = image_tag(current_website.logo)
          %div
            %h1
              = current_website.event.name
            %h4
              = current_website.event.decorate.date_range
        %nav#main-nav
          - current_website.pages.published.each do |page|
            = link_to page.name, page_path(current_event, page)
          = link_to "Program", program_page_path(current_event)
          = link_to "Schedule", schedule_page_path(current_event)
          .social-links
            %a.twitter-link{ href: 'https://twitter.com/rubyconf', target: '_blank' }
            %a.facebook-link{ href: 'https://facebook.com/rubyconf2021', target: '_blank' }
            %a.instagram-link{ href: 'https://instagram.com/rubyconf', target: '_blank' }
      #content
        =yield

    :javascript
      var openEl = document.getElementById('menu-toggle');
      var mobileNavEl = document.getElementById('main-nav');

      function toggleNav() {
        mobileNavEl.classList.toggle('menu-mobile--opened')
        openEl.classList.toggle('menu-toggle--opened')
      }

      openEl.addEventListener('click', function (e) {
        e.preventDefault()
        toggleNav()
      })

      document.getElementById("main-nav").addEventListener('click', function(e) {
        toggleNav()
      })

