!!!5
%html(lang="en")
  %head
    %title= title
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag current_website.theme, media: 'all'
    = javascript_pack_tag "application"
    :css
      #{current_website.font_faces_css}
      #{current_website.font_root_css}
    %script{src: "https://cdn.tailwindcss.com" }
  %body
    - unless @page&.hide_header?
      = render 'layouts/themes/default/header'

    #content
      = yield

    - unless @page&.hide_footer?
      = render 'layouts/themes/default/footer'

    - unless @page&.hide_header?
      :javascript
        var openEl = document.getElementById('menu-toggle');
        var mobileNavEl = document.getElementById('main-nav');

        function toggleNav() {
          mobileNavEl.classList.toggle('menu-mobile--opened')
          openEl.classList.toggle('menu-toggle--opened')
        }

        openEl.addEventListener('click', function (e) {
          e.preventDefault()
          toggleNav()
        })

        document.getElementById("main-nav").addEventListener('click', function(e) {
          toggleNav()
        })
