!!!5
%html(lang="en")
  %head
    %title= title
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    = stylesheet_link_tag current_website.theme, media: 'all'
    = javascript_pack_tag "application"
  %body
    %header#main-header
      %div#header-logo-container
        %a#menu-toggle{ href: "#"}
        .website-event-logo
        %h1
          = link_to(current_website.event.name, landing_path(website_event_slug))
      %nav#main-nav
        - current_website.pages.published.each do |page|
          = link_to page.name, page_path(website_event_slug, page)
        = link_to "Schedule", schedule_path(current_website.event)
    #content
      =yield

    :javascript
      var openEl = document.getElementById('menu-toggle');
      var mobileNavEl = document.getElementById('main-nav');

      function toggleNav() {
        mobileNavEl.classList.toggle('menu-mobile--opened')
        openEl.classList.toggle('menu-toggle--opened')
      }

      openEl.addEventListener('click', function (e) {
        e.preventDefault()
        toggleNav()
      })

      document.getElementById("main-nav").addEventListener('click', function(e) {
        toggleNav()
      })
