.schedule-grid-cell
  - if !program_session.display_track_name.blank?
    .session-track
      = program_session.display_track_name
  .schedule-session-title
    = program_session.display_title
  .schedule-session-detail
    %span.schedule-presenter
      =  program_session.display_presenter
    %span.schedule-room
      = image_tag('themes/default/pin-icon.svg')
      = program_session.room
  - if !program_session.shortened_display_description.blank?
    .schedule-session-description
      = program_session.shortened_display_description
