.schedule-grid-cell
  - if !session[:track].blank?
    .session-track
      =session[:track]
  .schedule-session-title
    = session[:title]
  .schedule-session-detail
    %span.schedule-presenter
      =  session[:presenter]
    %span.schedule-room
      = image_tag('themes/default/pin-icon.svg')
      = session[:room]
  - if !session[:description].blank?
    .schedule-session-description
      = truncate(session[:description], length: 100)
