
.schedule-page-wrapper{ data: { 'controller': 'sub-nav', 'sub-nav-displayed-id-value': 'schedule-day-one' } }
  %nav.sub-nav
    %ul
      %li
        %a#schedule-day-link.selected{ href: "#", 'data-displayedId': 'schedule-day-one', data: { action: 'click->sub-nav#updateDisplay' } }
          = current_event.conference_date(1).strftime("%B %-e")
      %li
        %a#schedule-day-link{ href: "#", 'data-displayedId': 'schedule-day-two', data: { action: 'click->sub-nav#updateDisplay' } }
          = current_event.conference_date(2).strftime("%B %-e")
      %li
        %a#schedule-day-link{ href: "#", 'data-displayedId': 'schedule-day-three', data: { action: 'click->sub-nav#updateDisplay' } }
          = current_event.conference_date(3).strftime("%B %-e")

  #schedule-container
    #schedule-day-one{ data: { 'sub-nav-target': 'hideable' }}
      - schedule_for_day(schedule, 1).each do |program_sessions|
        = render "schedule_block", program_sessions: program_sessions
    #schedule-day-two{ data: { 'sub-nav-target': 'hideable' }}
      - schedule_for_day(schedule, 2).each do |program_sessions|
        = render "schedule_block", program_sessions: program_sessions
    #schedule-day-three{ data: { 'sub-nav-target': 'hideable' }}
      - schedule_for_day(schedule, 3).each do |program_sessions|
        = render "schedule_block", program_sessions: program_sessions
