- content_for(:title) { "Schedule" }
.schedule-page-wrapper{ data: { 'controller': 'sub-nav fly-out', 'sub-nav-displayed-id-value': 'schedule-day-1' } }
  = render 'fly_out', collection: schedule
  %h3.page-title Schedule
  .schedule-filter-pane
    = image_tag 'themes/default/open-filter.png', class: 'open-filter-icon'
    = image_tag 'themes/default/closed-filter.png', class: 'close-filter-icon hidden'
    %span Filters
  %nav.sub-nav
    %ul
      - current_website.event.days.times do |i|
        %li
          %a#schedule-day-link{ href: "#", class: i == 0 ? "selected" : '', 'data-displayedId': "schedule-day-#{i + 1}", data: { action: 'click->sub-nav#updateDisplay' } }
            = current_website.event.conference_date(i + 1).strftime("%B %-e")

  #schedule-container
    - current_website.event.days.times do |i|
      %div{ id: "schedule-day-#{i + 1}", data: { 'sub-nav-target': 'hideable' } }
        = render partial: 'schedule_block', collection: schedule_for_day(schedule, i + 1), as: :program_sessions
