%tr{id: dom_id(session_format)}
  %td= session_format.name
  %td= truncate(session_format.description, length: 60)
  %td= session_format.duration
  %td= session_format.public? ? "\u2713" : ""
  - unless !current_user.organizer_for_event?(event)
    %td
      .float-end
        = link_to "Edit", edit_event_staff_session_format_path(event, session_format), data: {action: 'remote-modal#open'},
          class: "btn btn-primary btn-xs"
        = link_to "Remove", event_staff_session_format_path(event, session_format),
          data: {turbo: true, turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this session format?"},
          class: "btn btn-danger btn-xs"