%tr{ id: "session_format_#{session_format.id}" }
  %td= session_format.name
  %td= truncate(session_format.description, length: 60)
  %td= session_format.duration
  %td= session_format.public? ? "\u2713" : ""
  - unless !current_user.organizer_for_event?(event)
    %td
      .pull-right
        = link_to "Edit", edit_event_staff_session_format_path(event, session_format), remote: true,
          class: "btn btn-primary btn-xs"
        = link_to "Remove", event_staff_session_format_path(event, session_format),
          method: :delete,
          remote: true,
          data: { confirm: "Are you sure you want to remove this session format?" },
          class: "btn btn-danger btn-xs"