.alert.alert-info
  .col-xs-6
    Previewing grid changes
  .col.xs-6.text-right
    = cancel_bulk_preview_button(bulk.day)
    = edit_bulk_preview_button

    = simple_form_for bulk, url: bulk_create_event_staff_schedule_grid_time_slots_path(current_event),
        remote: true, html: {role: 'form'} do |f|
      = render partial: 'bulk_preview_form', locals: {f: f, bulk: bulk}
      = f.button :submit, 'Save', class: 'btn btn-primary btn-sm'
