.modal-dialog
  .modal-content
    = simple_form_for [event, :staff, :schedule, :grid, time_slot], remote: true, html: {role: 'form'} do |f|
      .modal-header
        .col-xs-6
          %h3 Edit Time Slot
        .col-xs-6.text-right
          .time-slot-info
            = "Day #{time_slot.conference_day}, "
            = "#{time_slot.start_time} - #{time_slot.end_time}, "
            = time_slot.room_name
      .errors
      .modal-body
        = render partial: 'staff/grids/time_slots/form',
            locals: {f: f, time_slot: time_slot }
      .modal-footer
        %button.btn.btn-default{'data-dismiss' => "modal"} Cancel
        %button.btn.btn-primary{:type => "submit"} Save
