.row
  .col-md-12
    .page-header.clearfix
      %h1 Event Staff
      %hr

      .row
        .col-md-4
          .widget
            .widget-header
              %i.fa.fa-users
              %h3 Team Count
            .widget-content
              %h4
                = pluralize(@staff_count["organizer"], "organizer")
                %em.pending= "(" + pluralize(@pending_invite_count["organizer"], "pending invitation") + ")"
                %hr
                = @staff_count["program team"]
                program team
                %em.pending= "(" + pluralize(@pending_invite_count["program team"], "pending invitation") + ")"
                %hr
                = pluralize(@staff_count["reviewer"], "reviewer")
                %em.pending= "(" + pluralize(@pending_invite_count["reviewer"], "pending invitation") + ")"

      .row
        .col-md-12
          .widget
            .widget-header
              %i.fa.fa-user
              %h3 Team
            .widget-content
              %table.table.table-striped.table-bordered
                %thead
                  %tr
                    %th Name
                    %th Email
                    %th Role
                    %th Email Notifications
                    - if current_user.organizer_for_event?(current_event)
                      %th Actions
                %tbody
                  - @staff.each do |teammate|
                    %tr{ id: "teammate-#{teammate.id}" }
                      %td= teammate.name
                      %td= teammate.email
                      %td= teammate.role
                      %td.notifications.text-center
                        %span= teammate.comment_notifications
                        - if teammate.user == current_user
                          = render partial: "staff/events/teammate_notifications", locals: {teammate: teammate}
                      - if current_user.organizer_for_event?(current_event)
                        %td{ id: "teammate-role-#{teammate.id}" }
                          - unless teammate.user == current_user
                            = render partial: 'staff/events/teammate_controls', locals: { teammate: teammate }

      .row
        .col-md-12
          .widget
            .widget-header
              - if current_user.organizer_for_event?(current_event)
                .pull-right
                  = link_to "Invite new teammate", "#", class: "btn btn-primary btn-sm invite-btn",
                    data: { toggle: "modal", target: "#new-teammate-invitation" },
                    id: "invite-new-teammate"
              %i.fa.fa-envelope-o
              %h3 Team Invitations

            .widget-content
              %table.table.table-striped.table-bordered
                %thead
                  %tr
                    %th Email
                    %th Status
                    %th Role
                    %th Invited At
                    - if current_user.organizer_for_event?(current_event)
                      %th Actions
                %tbody
                  - @invitations.each do |invite|
                    %tr
                      %td= invite.email
                      %td= invite.state
                      %td= invite.role
                      %td= invite.created_at.to_s(:day_at_time)
                      - if current_user.organizer_for_event?(current_event)
                        %td= link_to 'Remove',
                          event_staff_teammate_path(event, invite),
                          method: :delete,
                          data: { confirm: "Are you sure you want to remove this invite?" },
                          class: 'btn btn-danger btn-xs'

= render partial: 'staff/teammate_invitations/new_dialog', locals: { event: event }
