.navbar.navbar-default.program-subnav
  .container-fluid
    %ul.nav.navbar-nav
      %li.static.total.soft-accepted
        %span Soft Accepted
        %span.badge= @soft_accepted_count
      %li.static.total.soft-waitlisted
        %span Soft Waitlisted
        %span.badge= @soft_waitlisted_count
      %li.static
        %span By Track:
        %form.track-select{:action => '', :method => 'get'}
          %select{:name => 'param_name'}
            %option{:value => 'A'} All
            %option{:value => 'B'} General
            - @tracks.each do |track|
              %option{:value => 'C'}= track.name
      %li.static.by-track.soft-accepted
        %span Soft Accepted
        %span.badge 11
      %li.static.by-track.soft-waitlisted
        %span Soft Waitlisted
        %span.badge 10
    %ul.nav.navbar-nav.navbar-right
      %li{class: program_subnav_item_class("event-program-proposals-selection-link")}
        = link_to selection_event_staff_program_proposals_path do
          %i.fa.fa-gavel
          %span Selection
      %li{class: program_subnav_item_class("event-program-proposals-link")}
        = link_to event_staff_program_proposals_path do
          %i.fa.fa-balance-scale
          %span Proposals
      %li{class: program_subnav_item_class("event-program-sessions-link")}
        = link_to event_staff_program_sessions_path do
          %i.fa.fa-check
          %span Sessions
      %li{class: program_subnav_item_class("event-program-speakers-link")}
        = link_to event_staff_program_speakers_path do
          %i.fa.fa-users
          %span Speakers
