.navbar.navbar-default.program-subnav
  .container-fluid
    %ul.nav.navbar-nav.navbar-right
      %li{class: program_subnav_item_class("event-program-proposals-selection-link")}
        = link_to selection_event_staff_program_proposals_path do
          %i.fa.fa-gavel
          %span Selection
      %li{class: program_subnav_item_class("event-program-proposals-link")}
        = link_to event_staff_program_proposals_path do
          %i.fa.fa-balance-scale
          %span Proposals
      %li{class: program_subnav_item_class("event-program-sessions-link")}
        = link_to event_staff_program_sessions_path do
          %i.fa.fa-check
          %span Sessions
      %li{class: program_subnav_item_class("event-program-speakers-link")}
        = link_to event_staff_program_speakers_path do
          %i.fa.fa-users
          %span Speakers

    %ul.nav.navbar-nav.program-counts
      %li.static
        %span Program Count:
      %li.static.total.soft-accepted
        %span Soft Accepted
        %span.badge= @soft_accepted_count
      %li.static.total.soft-waitlisted
        %span Soft Waitlisted
        %span.badge= @soft_waitlisted_count
      - if @tracks.any?
        %li.static.no-top-padding.split
          %span By Track:
          %form.track-select{:data => {:event => current_event.slug}}
            %select{:id => 'track-select', :name => 'track'}
              %option{:value => 'all'} All
              %option{:value => 'general'} General
              - @tracks.each do |track|
                %option{:value => track.id}= track.name
        %li.static.no-top-padding.by-track.soft-accepted
          %span Soft Accepted
          %span.badge 1
        %li.static.no-top-padding.by-track.soft-waitlisted
          %span Soft Waitlisted
          %span.badge 1
