- events.each do |event|
  .event
    %h1
      - if event.url?
        = link_to event.name, "#{event.url}", target: 'blank', class: 'event-title'
      - else
        = event.name
      %small= event.status

    %span= link_to 'View Guidelines', event_path(event.slug), class: 'guidelines-link'
