= simple_form_for proposal, url: [ event, :staff, proposal ] do |f|
  .row
    %fieldset.col-md-6
      %h4 Proposal
      = proposal.title_input(f)
      = proposal.abstract_input(f)
      %section.inline-block
        = f.label :video_url
        = f.text_field :video_url, class: "form-control"
      %section.inline-block
        = f.label :slides_url
        = f.text_field :slides_url, class: "form-control"
  .row
    %fieldset.col-md-6
      - if event.public_tags?
        %section
          = f.label :review_tags, label: "Review Tags (#{event.review_tags.length})"
          = f.select :review_tags, options_for_select(event.review_tags, proposal.object.review_tags), {}, {class: 'multiselect review-tags form-control', multiple: true}


    %fieldset
      -#%h4 Speaker
      -#= f.simple_fields_for :speakers do |speaker_fields|
      -#  = speaker_fields.simple_fields_for :user, @user do |user_fields|
      -#    = user_fields.input :name
      -#    = user_fields.input :email
      -#  = speaker_fields.input :bio, maxlength: :lookup,
      -#    placeholder: 'Bio for speaker for the event program.'

      - if @event.custom_fields?
        %h4 Custom Fields
        - @event.custom_fields.each do |custom_field|
          .form-group
          = f.label custom_field
          = text_field_tag "proposal[custom_fields][#{custom_field}]", proposal.custom_fields[custom_field], class: "form-control"
          %p

  .row
    .col-sm-12
      %button.pull-right.btn.btn-primary.btn-lg{type: "submit"} Save
