- if show_proposal?(proposal)
  %tr{ class: "proposal-#{proposal.id}", data: { 'proposal-id' => proposal.id, 'proposal-uuid' => proposal.uuid } }
    %td= proposal.average_rating
    %td= proposal.ratings.size
    %td= proposal.standard_deviation
    %td= proposal.speaker_names
    %td= proposal.title_link
    %td= proposal.track_name
    %td= proposal.session_format_name
    - if event.public_tags?
      %td= proposal.tags_labels
    %td= proposal.review_tags_labels
    %td{data: {search: proposal.status_for_search}}
      = render 'staff/proposals/proposal_status', proposal: proposal, context: 'index', small: true, show_confirmed: true
    %td
      = render 'staff/proposals/proposal_state_buttons', proposal: proposal, context: 'index', buttons: proposal.small_state_buttons
