%tr{ data: { 'proposal-id' => proposal.id, 'proposal-uuid' => proposal.uuid } }
  %td= proposal.average_rating
  %td= proposal.score_for(current_user)
  %td= proposal.ratings.size
  %td= proposal.standard_deviation
  %td= proposal.speaker_names
  %td= proposal.title_link
  %td= proposal.tags
  %td= proposal.review_tags
  %td.status= proposal.state_label(small: true, show_confirmed: true)
  %td.actions= proposal.small_state_buttons
