.row
  .col-md-12
    .page-header.clearfix
      .btn-nav.pull-right
        = link_to(event_staff_path(event), class: "btn btn-primary") do
          &laquo; Return to Event
        = copy_email_btn
        = link_to event_staff_proposals_path(format: "csv"), id: "download_link", class: "btn btn-info" do
          %span.glyphicon.glyphicon-download-alt
          Download CSV
      %h1
        = event
        Proposals

- if event.public_tags?
  .row
    .col-sm-7
      -if taggings_count.present?
        - taggings_count.sort_by{|k,v| v}.reverse.each_slice(6).to_a.each do |row|
          %ul#columns.list-inline
            -row.each do |name, count|
              %li
                .label.label-success
                  = name
                  = count

.row
  .col-md-12
    %small <em>Hint:</em> Hold <kbd>shift</kbd> and click sorting arrows to sort by multiple columns
    %table#organizer-proposals.datatable.table.table-striped.proposal-list
      %thead
        %tr
          %th
          %th
          %th
          %th
          %th
          %th
          %th
          - if event.public_tags?
            %th
            %th
          %th.actions
        %tr
          %th Score
          %th Your Score
          %th Ratings
          %th Standard Deviation
          %th Speakers
          %th Talk Title
          - if event.public_tags?
            %th Proposal Tags
            %th Reviewer Tags
          %th Status
          %th.actions Soft Actions (Internal)
      %tbody
        = render proposals
