.event-info-bar
  .row
    .col-md-8
      .event-info.event-info-dense
        %strong.event-title= event.name
        - if event.start_date? && event.end_date?
          %span.event-meta
            %i.fa.fa-fw.fa-calendar
            = event.date_range
    .col-md-4.text-right.text-right-responsive
      .event-info.event-info-dense
        %span{:class => "event-meta event-status-badge event-status-#{event.status}"}
          CFP
          = event.status
        - if event.open?
          %span.event-meta
            CFP closes:
            %strong= event.closes_at(:month_day_year)

#proposal
  .proposal-actions-bar
    .row
      .col-md-offset-8.col-md-4.text-right.clearfix
        .btn-nav.pull-right
          = smart_return_button
          =link_to "Next Proposal", event_staff_program_proposal_path(uuid: "PLACEHOLDER"), class: "next-proposal btn btn-primary btn-sm", data: {"proposal-uuid" => proposal.uuid }

  .page-header.page-header-slim
    .row
      .col-md-6
        %h1= proposal.title
      .col-md-6.text-right
        .proposal-info-bar
          .proposal-meta.proposal-description
            .proposal-meta-item
              %strong Status:
              %span.proposal-status #{proposal.state_label(small: true)}
            %span.state-buttons #{proposal.state_buttons(show_confirm_for_speaker: true, show_hard_reset: true)}
    .row
      .col-sm-6
        .proposal-info-bar
          .proposal-meta.proposal-description
            .proposal-meta-item
              %strong #{ 'Speaker'.pluralize(proposal.speakers.count) }:
              %span= proposal.speakers.collect { |speaker| speaker.name }.join(', ')
            .proposal-meta-item
              %strong Format:
              %span #{proposal.session_format_name}
            -if proposal.tags.present?
              .proposal-meta-item
                %strong Tags:
                %span #{proposal.tags_labels}
      .col-sm-6.text-right
        .proposal-info-bar
          .proposal-meta.proposal-description
            .proposal-meta-item
              %strong Track:
              %span
                = render 'inline_track_edit', proposal: proposal
            -if proposal.review_tags.present?
              .proposal-meta-item
                %strong Reviewer Tags:
                %span.proposal-reviewer-tags #{proposal.review_tags_labels}

  .row
    .col-md-4
      = render partial: 'proposals/contents', locals: { proposal: proposal }

    .col-md-4
      .widget.widget-card.flush-top
        .widget-header
          %h3 Other Proposals
        .widget-content
          = render partial: 'other_proposals', locals: { event: event, other_proposals: @other_proposals }

        .widget-header
          %h3 Speakers
        .widget-content
          = render partial: 'staff/proposals/speakers', locals: { speakers: proposal.speakers }

      .widget.widget-card.flush-top
        .widget-header
          %i.fa.fa-comments
          %h3= pluralize(proposal.public_comments.count, 'public comment')
        .widget-content
          = render partial: 'proposals/comments', locals: { proposal: proposal, comments: proposal.public_comments }

          - if proposal.accepted?
            .widget-header
              %h3 Confirmation Notes
            .widget-content
              = render partial: 'proposals/confirmation_notes', locals: {proposal: proposal, notes: proposal.confirmation_notes}

    .col-md-4
      .widget.widget-card.widget-card-alt.flush-top
        .widget-header
          %h3 Review
        .widget-content
          = render partial: 'shared/proposals/rating_form', locals: { event: event, proposal: proposal, rating: @rating }

        - if event.reviewer_tags?
          .widget-header
            %h3 Reviewer Tags
          .widget-content
            = render partial: 'shared/proposals/tags_form', locals: { event: event, proposal: proposal }

        .internal-comments
          .widget-header
            %i.fa.fa-comments
            %h3= pluralize(proposal.internal_comments.count, 'internal comment')
          .widget-content
            = render partial: 'proposals/comments', locals: { proposal: proposal, comments: proposal.internal_comments }
