#proposal
  .row
    .col-md-12
      %h1= proposal.title

      .toolbox.pull-right
        .clearfix
          =link_to(reviewer_event_proposals_path, class: "btn btn-primary") do
            &laquo; Return to Proposals

  .row
    .col-md-12
      %date#updated_subheader= proposal.created_in_words
      %br
      %date#updated_subheader
        = proposal.updated_in_words

      .tags= proposal.tags

  .row
    .col-md-4
      = render partial: 'proposals/contents', locals: { proposal: proposal }

    .col-md-4
      %h3 Public Comments
      = render partial: 'proposals/comments',
        locals: { proposal: proposal, comments: proposal.public_comments }
    .col-md-4
      %h3 Review
      - unless proposal.draft?
        = proposal.state_label
      #rating-form
        = render partial: 'shared/proposals/rating_form',
          locals: { event: event, proposal: proposal, rating: rating }

      %h3 Tags
      = render partial: 'shared/proposals/tags_form',
        locals: { event: event, proposal: proposal }
      =link_to('#', class: "btn btn-primary") do
        Next Proposal &raquo;

      .internal-comments{ style: proposal.internal_comments_style }
        %h3 Internal Comments
        = render partial: 'proposals/comments',
          locals: { proposal: proposal, comments: proposal.internal_comments }

