.row
  .col-md-12
    %header.page-header
      %h1
        New Website Page
        = link_to_docs("page-content-management")
      = simple_form_for(:page, url: new_event_staff_page_path, method: :get) do |f|
        = f.input(:template,
          label: "Start from scratch or choose a template below #{link_to_docs("page-templates")}".html_safe,
          required: false,
          collection: Page::TEMPLATES.keys,
          include_blank: true,
          input_html: { onchange: "this.form.submit()" })

= render 'form', page: @page
