= render 'shared/event_info_bar', event: current_event
.row
  &nbsp;

.row
  .col-md-8
    %h3
      Sessions
      %span.badge= sessions.count
  .col-md-4.text-end
    - if current_user.organizer_for_event?(current_event)
      = link_to event_staff_program_sessions_path(format: "json"), class: "btn btn-info btn-sm" do
        %span.bi.bi-download
        Download as JSON
      = copy_email_btn
      = link_to "+ New Session", new_event_staff_program_session_path(current_event), class: "btn btn-success btn-sm"
.row{data: {controller: 'program-sessions'}}
  .col-md-8
    %h4.quick-filter-tabs
      .tab#program{data: {action: 'click->program-sessions#filter'}}
        %h4
          Program
          %span.badge= sessions.object.program.count
      .tab#waitlist{data: {action: 'click->program-sessions#filter'}}
        %h4
          Waitlist
          %span.badge= sessions.object.waitlisted.count
      .tab#declined{data: {action: 'click->program-sessions#filter'}}
        %h4
          Declined
          %span.badge= sessions.object.declined.count
      .indicator{data: {program_sessions_target: 'indicator'}}

  .col-md-12
    %table#program-sessions.datatable.table.table-striped{data: {program_sessions_target: 'table', cfp_column_types: '["text", "text", "text", null, "text", "text", null, "text", null]'}}
      %thead
        %tr
          %th
          %th
          %th
          %th
          %th
          %th
          %th
          %th
          %th.hidden
        %tr
          %th Title
          %th Speaker
          %th Format
          %th Track
          %th Scheduled
          %th Status
          %th Actions
          %th Notes
          %th.hidden

      %tbody
        = render partial: 'session_row_active', collection: sessions, as: :program_session, locals: {is_organizer: current_user.organizer_for_event?(current_event)}
