.proposal-section
  %h3.control-label Abstract
  .markdown{ data: { 'field-id' => 'proposal_abstract' } }
    = markdown proposal.abstract

%h2.fieldset-legend For Review Committee

.proposal-section
  %h3.control-label Details
  .markdown{ data: { 'field-id' => 'proposal_details' } }
    = markdown(proposal.details)

.proposal-section
  %h3.control-label Pitch
  .markdown{ data: { 'field-id' => 'proposal_pitch' } }
    = markdown(proposal.pitch)

- if proposal.custom_fields.any?
  - proposal.proposal_data[:custom_fields].select do |key,value|
    .proposal-section
      %h3.control-label= key.capitalize
      %div
      = value.capitalize
      %div

- unless proposal.changeset_fields.blank?
  %h2.fieldset-legend Proposal Diff...
  - proposal.versions.each do |version|
    #diff-view
      - version.changeset.each do |k, (old, new)|
        %h3.control-label= k.titleize
        %div= diff old, new

  :css
    = #{Diffy::CSS}
