%tr{ data: { 'proposal-id' => proposal.id } }
  %td= link_to(proposal.title,
      organizer_event_proposal_path(event_id: proposal.event_id, uuid: proposal))
  %td= proposal.speaker_names
  %td= proposal.speaker_emails
  %td= proposal.review_tags
  %td= proposal.state_label(small: true)
  %td= proposal.confirmed? ? '✓' : ''
  %td= proposal.scheduled? ? '✓' : ''
  %td= truncate(proposal.confirmation_notes, :length => 100)
