.event
  .row
    %header
      .col-sm-4
        %h2= "#{event} Program"
      .col-sm-6.col-sm-offset-2
        .pull-right
          #event-actions-top
            =link_to new_organizer_event_proposal_path, class: "btn btn-info" do
              Create Accepted Proposal
            =link_to organizer_event_program_path(format: "json"), id: "download_link", class: "btn btn-info" do
              %span.glyphicon.glyphicon-download-alt
              Download as JSON
          = copy_email_btn
  .row
    .col-sm-4
      #content
        %dl.dl-horizontal
          %dt Accepted Talks:
          %dd= accepted_proposals.count
          %dt Confirmed:
          %dd= accepted_confirmed_count
        %dl.dl-horizontal
          %dt Waitlisted Talks:
          %dd= waitlisted_proposals.count
          %dt Confirmed:
          %dd= waitlisted_confirmed_count

  .row
    .col-md-12
      %table#program-proposals.datatable.table.table-striped
        %thead
          %tr
            %th
            %th
            %th
            %th
            %th
            %th
          %tr
            %th Title
            %th Speaker
            %th Email
            %th Tags
            %th State
            %th Confirmed
            %th Scheduled
            %th Notes
        %tbody
          = render partial: 'proposal', collection: accepted_proposals

  %hr
  %h3 Waitlisted
  .row
    .col-md-12
      %table.table.table-striped
        %thead
          %tr
            %th Title
            %th Speaker
            %th Email
            %th Tags
            %th State
            %th Confirmed
        %tbody
          = render partial: 'proposal', collection: waitlisted_proposals
