.row
  .col-sm-12
    %h2 Sign In With

.row
  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    = f.error_notification

    .form-inputs
      .col-sm-5
        .well.clearfix
          = f.input :email, required: false, autofocus: true, wrapper_html: {class: "col-sm-12"}
          = f.input :password, required: false, wrapper_html: {class: "col-sm-12"}
          = f.input :remember_me, as: :boolean, wrapper: :inline_checkbox if devise_mapping.rememberable?

          .form-actions.form-group.col-sm-12
            = f.button :submit, "Log in", class: "btn btn-primary"

          .form-group= render "devise/shared/links"
