%h1= event
.row
  .col-md-6
    - if participants.empty?
      %h2 No participants in this event
    - participants.group_by(&:role).each_pair do |role, role_participants|
      %h2= role.capitalize.pluralize
      - role_participants.each do |participant|
        .participant
          = participant.person.name 
          (#{participant.person.email})
          = form_tag admin_event_participant_path(event, participant), method: :delete, data: {confirm: 'Are you sure?'}, style: 'display: inline' do
            %button.btn.btn-danger.btn-xs{:type => "submit"}
              %span.glyphicon.glyphicon-trash
              Delete
  %fieldset.col-md-6
    %h2 Add participant
    = form_for participant, url: admin_event_participants_path, html: {role: 'form'} do |f|
      .form-group
        = label_tag :email
        = text_field_tag :email, '', class: 'form-control', placeholder: "Participant's email"
      .form-group
        = f.label :role
        = f.select :role, ['reviewer', 'organizer'], class: 'form-control'
      .form-submit
        %button.pull-right.btn.btn-primary{:type => "submit"} Save
- content_for :custom_css do
  = stylesheet_link_tag 'ui_lightness/jquery-ui-1.10.3.custom.min.css', media: 'all'
