%ul.messages_layout
  - comments.order(:created_at).each do |comment|
    %li.comment.markdown{ class: choose_class_for(comment) }
      .message_wrap
        - if comment.user.present?
          .info{ title: comment.created_at.to_s }
            %p.name
              = commenter_name(comment)
            %span.time #{comment.created_at.to_s(:day_at_time)}
        .text
          =markdown(comment.body)

= form_for comments.new do |f|
  = f.hidden_field :proposal_id
  .form-group
    = f.text_area :body, class: 'form-control', placeholder: 'Add your comment', rows: 5
  .form-group
    %button.btn.btn-success.save-comment(type="submit")
      %span.glyphicon.glyphicon-ok
      Comment
