%h3= proposal.speakers.one? ? 'Speaker' : 'Speakers'
- proposal.speakers.each do |speaker|
  .markdown{ data: { 'field-id' => 'proposal_speaker_name' } }
    = link_to speaker.name, [:organizer, @event, speaker]
  %p= speaker.bio

%h3 Title
.markdown{ data: { 'field-id' => 'proposal_title' } }
  = proposal.title

%h3 Abstract
.markdown{ data: { 'field-id' => 'proposal_abstract' } }
  = proposal.abstract

%h3 Details
.markdown{ data: { 'field-id' => 'proposal_details' } }
  = proposal.details

%h3 Pitch
.markdown{ data: { 'field-id' => 'proposal_pitch' } }
  =proposal.pitch

  - if proposal.custom_fields.any?
    - proposal.proposal_data[:custom_fields].select do |key,value|
      %h3= key.capitalize
      %div
      = value.capitalize
      %div

