.proposal-section
  %h3.control-label Abstract
  .markdown
    = markdown proposal.abstract

%h2.fieldset-legend For Review Committee

.proposal-section
  %h3.control-label Details
  .markdown
    = markdown proposal.details

.proposal-section
  %h3.control-label Pitch
  .markdown
    = markdown proposal.pitch

- if proposal.custom_fields.any?
  - proposal.proposal_data[:custom_fields].select do |key,value|
    .proposal-section
      %h3.control-label= key.capitalize
      %div
      = value.capitalize
      %div
