.row
  .col-md-6
    %fieldset
      = proposal.title_input(f)
      = proposal.abstract_input(f)

      %h3 For Review Committee
      %p.help-block
        This content will
        %strong only
        be visible to the review committee.

      = f.input :details, input_html: { class: 'watched', rows: 10 },
        placeholder: 'Explain the theme and flow of your talk. What are the intended audience takeaways?',
        hint: 'Include any pertinent details such as outlines, outcomes or intended audience.'

      = f.input :pitch, input_html: { class: 'watched', rows: 5 },
        placeholder: 'Why is this talk pertinent? What is your involvement in the topic?',
        hint: 'Explain why this talk should be considered and what makes you qualified to speak on the topic.'


  .col-md-6
    %fieldset
      - opts_session_types = event.session_types.publicly_viewable.map {|st| [st.name, st.id]}
      = f.association :session_type, collection: opts_session_types, include_blank: 'None selected',
        required: true, input_html: {class: 'dropdown'}

      - opts_tracks = event.tracks.map {|t| [t.name, t.id]}
      = f.association :track, collection: opts_tracks, include_blank: 'None selected',
        input_html: {class: 'dropdown'}

      - if event.proposal_tags.any?
        %h3 Tags
        = f.select :tags,
          options_for_select(event.proposal_tags, proposal.object.tags),
          {}, {class: 'multiselect proposal-tags', multiple: true }

      - if event.custom_fields.any?
        %h3 Custom Fields
        - event.custom_fields.each do |custom_field|
          .form-group
            = f.label custom_field
            = text_field_tag "proposal[custom_fields][#{custom_field}]", proposal.custom_fields[custom_field], class: "form-control"


      = render partial: 'speakers/fields', locals: { f: f }

      = render partial: 'preview', locals: { proposal: proposal }

      .form-submit.clearfix
        %button.pull-right.btn.btn-primary.btn-lg{:type => "submit"} Submit Proposal
