#proposal
  .row
    .col-md-12
      %p
      - if @proposal.speakers != current_user
        = link_to "Back to Proposal", organizer_event_proposal_path(@proposal.event_id, @proposal.uuid), class: "btn btn-primary"
      %h1
        Confirm
        = proposal.title
  .row
    .col-md-8
      - if @proposal.speakers == current_user
        %p.help-block Congratulations! Your talk has been #{proposal.state}. Please ensure the information below is correct.
      - else
        %p.help-block Please ensure the information below is correct.

      %h3 Abstract
      = proposal.abstract
      %h3 Speakers
      = render partial: 'speakers/speaker',
        collection: proposal.speakers, locals: { withdraw: false }
    .col-md-4
      - if proposal.confirmed?
        %p This proposal was confirmed on #{proposal.confirmed_at}.
      - elsif proposal.withdrawn?
        %p This proposal has been withdrawn
      - else
        = form_tag(set_confirmed_proposal_path(slug: proposal.event.slug, uuid: proposal)) do
          %fieldset
            .form-group
              = label_tag 'Notes'
              = text_area_tag :confirmation_notes, nil, class: 'form-control', rows: 5,
                placeholder: 'Please note any scheduling conflicts, or any additional information an organizer may need to schedule your talk.'
            .form-submit.clearfix
            - if @proposal.speakers == current_user
              = submit_tag 'Confirm my participation', class: 'btn btn-success'
              = proposal.withdraw_button
            - else
              = submit_tag 'Confirm', class: 'btn btn-success'
              = proposal.withdraw_button

        - if proposal.event.url
          %p.help-block
            More event details available here:
            =link_to( proposal.event.url)
