= render 'shared/event_info_bar', event: event

.page-header.page-header-slim
  .row
    .col-md-12
      %h1= t "proposal.new.title"

.row{'data-controller' => 'proposal-preview', 'data-proposal-preview-url-value' => preview_event_proposals_path(event)}
  .col-md-12
    .tabbable
      %ul.nav.nav-tabs
        %li.nav-item
          %a.nav-link.active{"data-bs-toggle" => "tab", :href => "#create-proposal"}= t("proposal.new.form")
        %li.nav-item
          %a.nav-link{"data-bs-toggle" => "tab", :href => "#preview", "data-action" => "click->proposal-preview#refresh"}= t("proposal.new.preview")
      .tab-content
        #create-proposal.tab-pane.active
          .row
            .col-md-8
              %p= raw t("proposal.new.instruction", guideline: link_to(t("proposal.new.guidelines"), event_path(event.slug)))
              %p= t("proposal.new.gfm_html")

              = simple_form_for proposal, url: event_proposals_path(event), html: {'data-proposal-preview-target' => 'form'} do |f|
                = render partial: 'form', locals: {f: f}
        #preview.tab-pane
          = render partial: 'preview', locals: { proposal: proposal }
