%div{id: "new-teammate-invitation", class: "modal fade", data: {controller: 'modal-autofocus'}}
  .modal-dialog
    .modal-content
      = simple_form_for(:teammate, url: event_staff_teammates_path(event)) do |f|
        .modal-header
          %h3 Invite a New Teammate
        .modal-body
          = f.error_notification
          = f.input :email, class: "form-control", autofocus: true
          = f.input :mention_name, label: "Mention Name", class: "form-control", autofocus: true
          = f.input :role, as: :select, collection: Teammate.roles.map { |k, v| [v, k] }, class: 'form-control'

        .modal-footer
          %button.float-end.btn.btn-success{type: "submit"} Invite
          %button.btn.btn-secondary{type: 'button', 'data-bs-dismiss' => 'modal'} Cancel
