= simple_form_for [ :organizer, event, room ], remote: true do |f|
  .modal-body
    = f.input :name, placeholder: 'example: Crab Tree Suite'
    = f.input :room_number, placeholder: 'example: 1234 suite 3'
    = f.input :level, placeholder: 'example: level 3'
    = f.input :address, placeholder: ' 2500 Plesant St. Orlando, FL 90080'
    = f.input :capacity, placeholder: '300'
    = f.input :grid_position, placeholder: '#{room.grid_position}'
  .modal-footer
    %button.pull-right.btn.btn-primary{:type => "submit"} Save
    %button.btn.btn-default{'data-dismiss' => "modal"} Cancel
