%tr{ id: "room_#{room.id}" }
  %td= room.name
  %td= room.room_number
  %td= room.address
  %td= room.level
  %td= room.capacity
  %td= room.grid_position
  %td.actions
    = link_to 'Edit', '#', class: 'btn btn-primary btn-xs',
      data: { toggle: 'modal', target: "#room-edit-#{room.id}" }

    = link_to 'Remove', organizer_event_room_path(event, room),
      method: :delete,
      remote: true,
      data: { confirm: "Are you sure you want to remove this room?" },
      class: 'btn btn-danger btn-xs'

    %div{ id: "room-edit-#{room.id}", class: 'modal fade' }
      .modal-dialog
        .modal-content
          .modal-header
            %h3 Edit Room
          = render partial: 'organizer/rooms/form', locals: { room: room }
