%tr
  %td= link_to person.name, admin_person_path(person)
  %td= person.email
  %td= person.role_names
  %td= person.created_at
  %td.actions
    = link_to 'Edit', edit_admin_person_path(person), class: 'btn btn-primary btn-xs'
    - unless person == current_user
      = link_to 'Delete', admin_person_path(person), method: :delete, data: { confirm: "Are you sure you want to delete this person?" }, class: 'btn btn-danger btn-xs'
