.mod-heading#program-bg

.schedule-wrap

  %section.schedule-details-wrap
    #schedule
      .full
        %section
          %article
            #schedule_page
              %nav#schedule_nav
                %ul#tabs
                  %li.schedule-tab#schedule-top
                    %h1 SCHEDULE
                  %li.schedule-tab.active
                    %a{href: "#day-1"}  #{event.conference_day_in_words(1)}
                  %li.schedule-tab
                    %a{href: "#day-2"}  #{event.conference_day_in_words(2)}
                  %li.schedule-tab
                    %a{href: "#day-3"}  #{event.conference_day_in_words(3)}

                #day-1
                  = render "shared/schedule/days", day: 1
                #day-2
                  = render "shared/schedule/days", day: 2
                #day-3
                  = render "shared/schedule/days", day: 3


