%header
  %h3 Sessions

  = link_to "Add Session",
      new_organizer_event_session_path,
      remote: true,
      class: "btn btn-primary btn-sm " + (has_missing_requirements?(event) ? 'disabled' : ''),
      data: { toggle: 'modal', target: "#session-new-dialog" },
      id: 'add-session'

  = link_to organizer_event_sessions_path(format: :csv), class: "btn btn-info pull-right" do
    %span.glyphicon.glyphicon-download-alt
    Download as CSV

  .clearfix

  = link_to organizer_event_sessions_path(format: :json), id: 'download-json',
      class: "btn btn-info pull-right" do
    %span.glyphicon.glyphicon-download-alt
    Download as JSON

  #session-prereqs{ class: has_missing_requirements?(event) ? '' : 'hidden' }
    .clearfix
    %h5{ id: 'missing-prereq-head' }
      The following must be resolved before adding a new session:
    %ul#missing-prereq-messages.list-group
      = unmet_requirements(event)

%table#organizer-sessions.datatable.table.table-striped
  %thead
    %tr
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
      %th
    %tr
      %th Conference Day
      %th Start Time
      %th End Time
      %th Title
      %th Presenter
      %th Room
      %th Track
      %th ID
      %th.actions Actions
  %tbody
    - sessions.each do |session|
      %tr{ id: "session_#{session.id}" }
        - session.row_data.each do |cell|
          %td= cell
        %td.actions
          = session.session_buttons
#session-edit-dialog.modal.fade

#session-new-dialog.modal.fade
