= simple_form_for proposal, url: [ :organizer, event, proposal ] do |f|
  .row
    %fieldset.col-md-6
      = proposal.title_input(f)
      = proposal.abstract_input(f)


      = f.select :review_tags,
        options_for_select(event.review_tags, proposal.object.review_tags),
        {}, {class: 'multiselect review-tags', multiple: true}

    = f.simple_fields_for :speakers do |ff|
      = ff.input :bio, maxlength: :lookup,
        placeholder: 'Bio for the event program.',
        input_html: { value: speaker.bio, rows: 4 },
        hint: 'Bio is limited to 500 characters.'

      .form-submit.clearfix
        %button.pull-right.btn.btn-primary.btn-lg{:type => "submit"} Save

