= simple_form_for proposal, url: [ :organizer, event, proposal ] do |f|
  .row
    %fieldset.col-md-6
      %h4 Proposal
      = proposal.title_input(f)
      = proposal.abstract_input(f)
      = f.label :video_url
      = f.text_field :video_url
      = f.label :slides_url
      = f.text_field :slides_url
      %p
      = f.select :review_tags,
        options_for_select(event.review_tags, proposal.object.review_tags),
        {}, {class: 'multiselect review-tags', multiple: true}

    %fieldset
      %h4 Speaker
      = f.simple_fields_for :speakers do |speaker_fields|
        = speaker_fields.simple_fields_for :person, @person do |person_fields|
          = person_fields.input :name
          = person_fields.input :email
        = speaker_fields.input :bio, maxlength: :lookup,
          placeholder: 'Bio for speaker for the event program.'

        %button.pull-right.btn.btn-primary.btn-lg{:type => "submit"} Save
        %br
        %br