= link_to(organizer_event_proposal_path(proposal.event_id, proposal.uuid),
          class: "btn btn-primary", id: "back") do
  &laquo; Return to Proposal

.navbar.navbar-default
  .container-fluid
    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        %a.dropdown-toggle{ href: "#", data: { toggle: "dropdown" } }
          Change State
          %b.caret
        %ul.dropdown-menu
          %li
            = proposal.update_state_link(Proposal::State::ACCEPTED)
            = proposal.update_state_link(Proposal::State::REJECTED)
            = proposal.update_state_link(Proposal::State::WAITLISTED)
            = proposal.update_state_link(Proposal::State::WITHDRAWN)
            = proposal.update_state_link(Proposal::State::SUBMITTED)
      %li= proposal.delete_button
%h1 Edit #{proposal.title} for #{event} as Organizer
= render partial: 'form', locals: { proposal: proposal }
