#organizer-proposals-index
  .row
    .col-md-6
      %h2
        = event
        Proposals
      = copy_email_btn

    .col-md-2.col-md-offset-4
      =link_to(organizer_event_path(event), class: "btn btn-primary") do
        &laquo; Return to Event
      =link_to organizer_event_proposals_path(format: "csv"), id: "download_link", class: "btn btn-info" do
        %span.glyphicon.glyphicon-download-alt
        Download as CSV
  -#.row
    .col-sm-7.col-sm-offset-1
      -if taggings_count.present?
        - taggings_count.sort_by{|k,v| v}.reverse.each_slice(6).to_a.each do |row|
          %ul#columns.list-inline
            -row.each do |name, count|
              %li
                .label.label-success
                  = name
                  = count
      -else
        %p No Tags
  .row
    .col-md-12
      %small <em>Hint:</em> Hold <kbd>shift</kbd> and click sorting arrows to sort by multiple columns
      %table#organizer-proposals.datatable.table.table-striped.proposal-list
        %thead
          %tr
            %th
            %th
            %th
            %th
            %th
            %th
            %th
            %th
            %th
            %th.actions
          %tr
            %th Score
            %th Your Score
            %th Ratings
            %th Standard<br/>Deviation
            %th Speakers
            %th Talk Title
            %th Proposal Tags
            %th Reviewer Tags
            %th Status
            %th.actions Soft Actions (Internal)
        %tbody
          = render proposals
