= form_for @speaker do |f|
  .row
    %p
    = f.label :bio
    = f.text_area :bio, class: 'form-control', value: speaker.bio,
      placeholder: 'Bio for the event program.', rows: 7, maxlength: 500
    %p.help-block Bio is limited to 500 characters.

  = f.fields_for :person, @person do |ff|
    = ff.text_field :name
    = ff.text_field :email

  .row.col-md-12.form-submit
    %button.pull-right.btn.btn-success{:type => "submit"} Save


