=  link_to("« Return to Proposal", organizer_event_proposal_path(uuid: @proposal.uuid), class: "btn btn-primary", id: "back")

%h3 New Speaker

= form_for @speaker, url: [ :organizer, event, @proposal, @speaker ], html: {role: 'form'} do  |f|
  .row
    %fieldset.col-md-4

      = f.fields_for :person, @person do |ff|
        = ff.label "Name"
        = ff.text_field :name
        %p
        = ff.label "Email"
        = ff.text_field :email
        %p
      = f.text_area :bio, class: 'form-control', value: speaker.bio,
      placeholder: 'Bio for the event program.', rows: 7, maxlength: 500
      = f.label :bio
      %p.help-block Bio is limited to 500 characters.


  .row.col-md-12.form-submit
    %button.pull-right.btn.btn-success{:type => "submit"} Save


