= speaker.delete_button

#speaker
  .row
    .col-md-12
      %h1 Speaker Profile
      .toolbox.pull-right
        .clearfix
          = link_to(organizer_event_proposal_path(speaker.proposal.event, speaker.proposal),
              class: "btn btn-primary", id: "back") do

            &laquo; Return to Proposal

          = link_to(edit_organizer_event_speaker_path,
            class: "btn btn-primary") do
            Edit Speaker
        - if current_user.organizer_for_event?(event)
          = link_to(new_organizer_event_speaker_path(event),
            class: "btn btn-primary") do
            Add Speakers


  .row
    .col-md-12
      %p
        = image_tag("http://www.gravatar.com/avatar/#{speaker.gravatar_hash}?s=150",
          id: 'speaker_gravatar')
        %br
        %b Name:
        = speaker.name
      %p
        %b Email:
        = mail_to(speaker.email)
      %p
        %b Bio:
        %br
        = speaker.bio
