.unscheduled-sessions
  = link_to "#", class: "unscheduled-sessions-toggle" do
    %span.title Unscheduled Sessions
    %span.badge= "#{@unscheduled_sessions.count}/#{@sessions.count}"
  .search-sessions-wrapper
    %label Search:
    = text_field_tag(:session_search)
  .unscheduled-sessions-widget
    - @unscheduled_sessions.each do |unscheduled_session|
      - ps = Staff::ProgramSessionDecorator.decorate(unscheduled_session)
      = render partial: 'draggable_session', locals: { ps: ps }
