#schedule{data: grid_data}
  %ul.nav.nav-tabs{role: 'tablist'}
    - @schedule.each_day do |day|
      %li{role: 'presentation', class: current_day_css(day, 1)}
        = link_to "#grid_day_#{day}", data: {toggle: 'tab'}, role: 'tab' do
          .nav-tab-content
            .day= "Day #{day}"
            .counts-container
              .total.time-slots
                %span.title Time slots
                %span.badge= "#{@counts[day][:scheduled]}/#{@counts[day][:total]}"
  .row
    .col-md-12
      .tab-content
        - @schedule.each_day do |day|
          .tab-pane{class: current_day_css(day, 1), id: "grid_day_#{day}", role: 'tabpanel'}
            .grid-wrapper.container-fluid
              .row
                .col-sm-6
                  %h2.clearfix= @schedule.date_from_day(day).to_s(:event_day)
              .bulk-preview-bar
              .schedule-widget
                .grid-column
                  .generate-grid-wrapper.text-right
                    = generate_grid_button(day)
                  = render partial: 'grid', locals: { schedule: @schedule, day: day }
                .unscheduled-sessions-column
                  = render partial: 'unscheduled_sessions', locals: { schedule: @schedule }

#grid-time-slot-edit-dialog.modal.fade
#bulk-time-slot-create-dialog.modal.fade
