.form-inline
  = f.input :name, placeholder: 'ex: Crab Tree Suite', autofocus: true
  = f.input :capacity, placeholder: "ex: 300"
  = f.input :grid_position, placeholder: "ex: 1"
= f.input :address, placeholder: "ex: 2500 Pleasant St. Orlando, FL 90080"
.form-inline
  = f.input :room_number, placeholder: "ex: 1234 suite 3"
  = f.input :level, placeholder: "ex: level 3"
