= simple_form_for [ event, :staff, room ], remote: true do |f|
  .modal-body
    = f.input :name, placeholder: "example: Crab Tree Suite", autofocus: true
    = f.input :room_number, placeholder: "example: 1234 suite 3"
    = f.input :level, placeholder: "example: level 3"
    = f.input :address, placeholder: " 2500 Pleasant St. Orlando, FL 90080"
    = f.input :capacity, placeholder: "300"
    = f.input :grid_position, placeholder: "example: 1 (use nil if room should not appear)"
  .modal-footer
    .btn-toolbar
      %button.pull-right.btn.btn-primary{:type => "submit"} Save
      %button.btn.btn-default{"data-dismiss" => "modal"} Cancel
