%tr{ id: "room_#{room.id}" }
  %td= room.name
  %td= room.room_number
  %td= room.address
  %td= room.level
  %td= room.capacity
  %td= room.grid_position
  %td.actions
    = link_to 'Edit', '#', class: 'btn btn-primary btn-sm',
      data: { bs_toggle: 'modal', bs_target: "#room-edit-#{room.id}" }

    = link_to 'Remove', event_staff_schedule_room_path(event, room),
      data: {turbo: true, turbo_method: :delete, turbo_confirm: "Are you sure you want to remove this room?"},
      class: 'btn btn-danger btn-sm'

    %div{id: "room-edit-#{room.id}", class: 'modal fade', data: {controller: 'modal-form', modal_form_target: 'modal'}}
      .modal-dialog
        .modal-content
          = turbo_frame_tag dom_id(room, :edit) do
            = simple_form_for [event, :staff, :schedule, room], data: {turbo_frame: dom_id(room, :edit), action: 'turbo:submit-end->modal-form#submitEnd'} do |f|
              .modal-header
                %h3 Edit Room
                .errors
              .modal-body
                = render partial: 'staff/rooms/form', locals: {room: room, f: f}
              .modal-footer
                .btn-toolbar
                  %button.float-end.btn.btn-primary{type: 'submit'} Save
                  %button.btn.btn-secondary{type: 'button', 'data-bs-dismiss' => 'modal'} Cancel
