.rooms-partial
  .row
    .col-md-12
      %header.page-header
        %h2.float-start Rooms
        = link_to "Add Room", "#", class: "btn btn-primary btn-sm float-start",
          data: { bs_toggle: "modal", bs_target: "#room-new-dialog" }
  .row
    .col-md-12
      %table.table.table-striped#organizer-rooms
        %thead
          %tr
            %th Name
            %th Room #
            %th Address
            %th Level
            %th Capacity
            %th Grid Position
            %th.actions Actions
        %tbody#rooms-table-body
          = render event.rooms
      #room-new-dialog.modal.fade{data: {controller: 'modal-form modal-autofocus', modal_form_target: 'modal'}}
        .modal-dialog
          .modal-content
            = turbo_frame_tag 'room-new-form' do
              = simple_form_for [event, :staff, :schedule, Room.new], data: {turbo_frame: 'room-new-form', action: 'turbo:submit-end->modal-form#submitEnd'} do |f|
                .modal-header
                  %h3 New Room
                  .errors
                .modal-body
                  = render partial: 'staff/rooms/form', locals: {f: f}
                .modal-footer
                  .btn-toolbar
                    %button.float-end.btn.btn-primary{type: 'submit'} Save
                    %button.btn.btn-secondary{type: 'button', 'data-bs-dismiss' => 'modal'} Cancel
