= simple_form_for website, url: :event_staff_website do |f|
  .row
    %fieldset.col-md-6
      - if website.logo.attached?
        = f.label :logo, "Current Logo", class: "control-label"
        %div
          = resize_image_tag(website.logo, width: 100)
      = f.input :logo, label: website.logo.attached? ? "Replace Logo" : "Logo"
      - if website.background.attached?
        = f.label :background, "Current Background", class: "control-label"
        %div
          = resize_image_tag(website.background, width: 200)
      = f.input :background,
        label: website.background.attached? ? "Replace Background" : "Background"
      = f.input :city
      = f.input :location, as: :text
      = f.input :directions
      = f.input :prospectus_link
      %fieldset
        = f.label :footer_categories
        = f.text_field :footer_categories,
          value: website.footer_categories&.join(','),
          class: 'selectize-tags'
        = f.input :footer_about_content
        = f.input :footer_copyright
        = f.input :twitter_handle
        = f.input :facebook_url
        = f.input :instagram_url

      = f.input :domains
  .row
    .col-sm-12
      = submit_tag("Save", class: "pull-right btn btn-success", type: "submit")
      = link_to "Cancel", event_staff_path(current_event), {:class=>"cancel-form pull-right btn btn-danger"}
