= simple_form_for website, url: :event_staff_website do |f|
  .row
    %fieldset.col-md-6
      = image_input(f, :logo)
      = image_input(f, :background)
      = image_input(f, :favicon)
      = f.input :city
      = f.input :location, as: :text
      = f.input :directions
      = f.input :prospectus_link
      %fieldset
    .col-md-6
      %fieldset
        %legend.fieldset-legend General Content
        - if website.logo.attached?
          = f.label :logo, "Current Logo", class: "control-label"
          %div
            = resize_image_tag(website.logo, width: 100)
        = f.input :logo, label: website.logo.attached? ? "Replace Logo" : "Logo"
        - if website.background.attached?
          = f.label :background, "Current Background", class: "control-label"
          %div
            = resize_image_tag(website.background, width: 200)
        = f.input :background,
          label: website.background.attached? ? "Replace Background" : "Background"
        = f.input :city
        = f.input :location, as: :text
        = f.input :directions
        = f.input :prospectus_link
      %fieldset
        %legend.fieldset-legend Navigation and Footer
        = f.label :navigation_links
        = f.select :navigation_links,
          website.link_options,
          { include_hidden: false },
          { class: 'selectize-sortable', multiple: true }
        = f.label :footer_categories
        = f.select :footer_categories,
          website.footer_categories,
          { include_hidden: false },
          { class: 'selectize-create', multiple: true }
        = f.input :footer_about_content
        = f.input :footer_copyright
        = f.input :twitter_handle
        = f.input :facebook_url
        = f.input :instagram_url

      = f.input :domains
    .col-md-6
      %fieldset
      %legend.fieldset-legend Configure Website Session Formats
      = f.simple_fields_for :session_format_configs do |ff|
        .session-format-name
          = "Configure #{ff.object.session_format.name}"
        .inline-form
          = ff.input :display, wrapper_html: { class: 'col-md-3' }
          = ff.input :position, wrapper_html: { class: 'col-md-3' }
          = ff.input :name
          = ff.hidden_field :session_format_id

      %div{"data-controller": "nested-form"}
        %legend.fieldset-legend Fonts
        %template{"data-nested-form-target": "template"}
          = f.simple_fields_for :fonts,
            Website::Font.new,
            child_index: 'NEW_RECORD' do |font|
            = render 'font_fields', form: font
        = f.simple_fields_for :fonts do |font|
          = render 'font_fields', form: font
        %div{"data-nested-form-target": "links"}
          = link_to "Add Font", "#", class: 'btn btn-success',
            data: { action: "click->nested-form#add_association" }

      %div{"data-controller": "nested-form"}
        %legend.fieldset-legend Head and Footer Content
        %template{"data-nested-form-target": "template"}
          = f.simple_fields_for :contents,
            Website::Content.new,
            child_index: 'NEW_RECORD' do |content|
            = render 'content_fields', form: content
        = f.simple_fields_for :contents do |content|
          = render 'content_fields', form: content
        %div{"data-nested-form-target": "links"}
          = link_to "Add Content", "#", class: 'btn btn-success',
            data: { action: "click->nested-form#add_association" }

      %h4 Meta Data
      = f.simple_fields_for :meta_data, website.meta_data do |ff|
        = ff.input :title
        = ff.input :author
        = ff.input :description
  .row
    .col-sm-12
      = submit_tag("Save", class: "pull-right btn btn-success", type: "submit")
      = link_to "Cancel", event_staff_path(current_event), {:class=>"cancel-form pull-right btn btn-danger"}
