.navbar.navbar-default.navbar-fixed-top
  .container-fluid
    .navbar-header
      %button.navbar-toggle{ type: "button", data: { toggle: "collapse", target: ".navbar-collapse" } }
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      - if current_event && current_event.slug
        = link_to current_event.name, event_path(current_event), class: 'navbar-brand'
      - else
        = link_to "#{Rails.application.class.parent_name}", events_path, class: 'navbar-brand'

    .collapse.navbar-collapse
      - if user_signed_in?
        %ul.nav.navbar-nav.navbar-right
          - if current_user && current_user.admin?
            = render partial: "layouts/nav/admin_nav"

          - if current_user.proposals.any?
            = render partial: "layouts/nav/proposals_link"

          - if current_event && current_user.reviewer_for_event?(current_event)
            = render partial: "layouts/nav/reviewer_nav"

          - if current_event && current_user.organizer_for_event?(current_event)
            = render partial: "layouts/nav/organizer_nav"

          - if current_event && policy(current_event).staff?
            %li{class: "#{request.path == event_staff_path(current_event) ? 'active' : ''}"}
              = link_to event_staff_path(current_event) do
                %i.fa.fa-dashboard
                %span Event Dashboard

          %li{class: "#{request.path == notifications_path ? 'active' : ''}"}
            = render partial: "layouts/nav/notifications_link"

          = render partial: "layouts/nav/user_dropdown"

      - else
        %ul.nav.navbar-nav.navbar-right
          %li= link_to "Log in", new_user_session_path

- if action_name == "current_styleguide" && user_signed_in?
  .subnavbar
    .subnavbar-inner
      .container-fluid
        %ul.mainnav
          %li{class: "#{request.path == events_path ? 'active' : ''}"}
            =link_to events_path do
              %i.fa.fa-dashboard
              %span Dashboard

- if params[:controller].include?("staff") && user_signed_in?
  = render partial: "layouts/nav/staff_subnav"
