.navbar.navbar-expand-lg.navbar-default.fixed-top
  .container-fluid
    - if current_event
      = link_to "#{current_event.name} CFP", event_path(current_event), class: 'navbar-brand'
    - else
      = link_to "CFP App", events_path, class: 'navbar-brand'
    %button.navbar-toggler{ type: "button", data: { bs_toggle: "collapse", bs_target: ".navbar-collapse" }, aria: { controls: "navbarNav", expanded: "false", label: "Toggle navigation" } }
      %span.navbar-toggler-icon

    .collapse.navbar-collapse#navbarNav
      - if current_user
        %ul.navbar-nav.ms-auto
          - roles = current_user.teammates.where(event_id: current_event).pluck(:role)

          - if speaker_nav?
            %li.nav-item{class: nav_item_class(:my_proposals)}
              = link_to proposals_path, class: 'nav-link' do
                %span My Proposals

          - if review_nav?(roles)
            %li.nav-item{class: nav_item_class(:event_review_proposals)}
              = link_to event_staff_proposals_path(current_event), class: 'nav-link' do
                %span Review

          - if program_nav?(roles)
            %li.nav-item{class: nav_item_class(:event_selection)}
              = link_to event_staff_program_proposals_path(current_event), class: 'nav-link' do
                %span Selection
            %li.nav-item{class: nav_item_class(:event_program)}
              = link_to event_staff_program_sessions_path(current_event), class: 'nav-link' do
                %span Program

          - if schedule_nav?(roles)
            %li.nav-item{class: nav_item_class(:event_schedule)}
              = link_to event_staff_schedule_grid_path(current_event), class: 'nav-link' do
                %span Schedule

          - if staff_nav?(roles)
            %li.nav-item{class: nav_item_class(:event_dashboard)}
              = link_to event_staff_path(current_event), class: 'nav-link' do
                %span Dashboard

          - if !ENV['DISABLE_WEBSITE'] && website_nav?
            %li.nav-item{class: nav_item_class(:event_website)}
              = link_to new_or_edit_website_path, class: 'nav-link' do
                %span Website
                %sup Beta

          - if admin_nav?
            %li.nav-item.dropdown{class: nav_item_class(:admin)}
              %a.nav-link.dropdown-toggle{title: 'Admin Toggle', href: '#', role: 'button', data: {bs_toggle: 'dropdown'}, aria: {expanded: 'false'}}
                Admin
              %ul.dropdown-menu.dropdown-menu-end
                %li
                  = link_to admin_users_path, class: "dropdown-item #{'active' if request.path == admin_users_path}" do
                    %i.bi.bi-people-fill
                    %span Users
                %li
                  = link_to admin_events_path, class: "dropdown-item #{'active' if request.path == admin_events_path}" do
                    %i.bi.bi-calendar
                    %span Events

          %li.nav-item.dropdown
            - unread_notifications = current_user.notifications.recent_unread.records
            %a.nav-link.dropdown-toggle{title: 'Notifications Toggle', href: '#', role: 'button', data: {bs_toggle: 'dropdown'}, aria: {expanded: 'false'}}
              %i.bi.bi-envelope-fill
              %span.badge.bg-secondary= unread_notifications.length if unread_notifications.any?

            %ul.dropdown-menu.dropdown-menu-end
              - if unread_notifications.any?
                - unread_notifications.each do |notification|
                  %li
                    = link_to notification_path(notification), class: 'dropdown-item' do
                      %i.bi.bi-exclamation
                      %span= notification.short_message
                %li
                  %hr.dropdown-divider
                %li
                  = link_to mark_all_as_read_notifications_path, data: {turbo: true, turbo_method: :post}, class: 'dropdown-item text-primary' do
                    %i.bi.bi-check
                    Mark all as read
              %li
                = link_to notifications_path, class: 'dropdown-item' do
                  %i.bi.bi-eye
                  %span
                    = (more_unread_count = current_user.notifications.more_unread_count) > 0 ? "#{more_unread_count} More Unread" : "View all notifications"

          = render partial: "layouts/nav/user_dropdown"

      - else
        %ul.navbar-nav.ms-auto
          %li.nav-item= link_to "Log in", new_user_session_path, class: 'nav-link'

- if display_staff_event_subnav?
  = render partial: "layouts/nav/staff/event_subnav"

- elsif display_staff_selection_subnav?
  = render partial: "layouts/nav/staff/selection_subnav"

- elsif display_staff_program_subnav?
  = render partial: "layouts/nav/staff/program_subnav"

- elsif schedule_mode?
  = render partial: "layouts/nav/staff/schedule_subnav"

- elsif display_website_subnav?
  = render "layouts/nav/staff/website_subnav"
